In [1]:
from algoshort.yfinance_handler import YFinanceDataHandler

# Initialize with custom chunk size
handler = YFinanceDataHandler(cache_dir="./cache")

In [2]:
handler.list_available_data()

{}

In [14]:
handler.clear_cache(handler.list_cached_symbols())

2025-09-14 17:19:01,342 - algoshort.yfinance_handler.YFinanceDataHandler - INFO - Cleared 10 cache files
2025-09-14 17:19:01,342 - algoshort.yfinance_handler.YFinanceDataHandler - INFO - Cleared 10 cache files
2025-09-14 17:19:01,342 - algoshort.yfinance_handler.YFinanceDataHandler - INFO - Cleared 10 cache files
2025-09-14 17:19:01,342 - algoshort.yfinance_handler.YFinanceDataHandler - INFO - Cleared 10 cache files

10

In [70]:
handler.list_available_data()

{}

In [3]:
handler.list_cached_data()

{'A2A.MI_1y_1d.parquet': {'symbol': 'A2A.MI',
  'period': '1y',
  'interval': '1d',
  'size_kb': 124.71,
  'last_modified': datetime.datetime(2025, 9, 14, 17, 19, 12, 917050)},
 'AMP.MI_1y_1d.parquet': {'symbol': 'AMP.MI',
  'period': '1y',
  'interval': '1d',
  'size_kb': 124.36,
  'last_modified': datetime.datetime(2025, 9, 14, 17, 19, 43, 594316)},
 'BRE.MI_1y_1d.parquet': {'symbol': 'BRE.MI',
  'period': '1y',
  'interval': '1d',
  'size_kb': 122.68,
  'last_modified': datetime.datetime(2025, 9, 14, 17, 19, 43, 495713)},
 'BZU.MI_1y_1d.parquet': {'symbol': 'BZU.MI',
  'period': '1y',
  'interval': '1d',
  'size_kb': 124.84,
  'last_modified': datetime.datetime(2025, 9, 14, 17, 19, 27, 78397)},
 'CEM.MI_1y_1d.parquet': {'symbol': 'CEM.MI',
  'period': '1y',
  'interval': '1d',
  'size_kb': 119.77,
  'last_modified': datetime.datetime(2025, 9, 14, 17, 19, 27, 78397)},
 'CPR.MI_1y_1d.parquet': {'symbol': 'CPR.MI',
  'period': '1y',
  'interval': '1d',
  'size_kb': 123.86,
  'last_modified': datetime.datetime(2025, 9, 14, 17, 19, 43, 510935)},
 'FTSEMIB.MI_1y_1d.parquet': {'symbol': 'FTSEMIB.MI',
  'period': '1y',
  'interval': '1d',
  'size_kb': 99.26,
  'last_modified': datetime.datetime(2025, 9, 14, 17, 19, 12, 921997)},
 'IG.MI_1y_1d.parquet': {'symbol': 'IG.MI',
  'period': '1y',
  'interval': '1d',
  'size_kb': 111.87,
  'last_modified': datetime.datetime(2025, 9, 14, 17, 19, 43, 516690)},
 'IP.MI_1y_1d.parquet': {'symbol': 'IP.MI',
  'period': '1y',
  'interval': '1d',
  'size_kb': 123.13,
  'last_modified': datetime.datetime(2025, 9, 14, 17, 19, 43, 580255)},
 'MONC.MI_1y_1d.parquet': {'symbol': 'MONC.MI',
  'period': '1y',
  'interval': '1d',
  'size_kb': 125.29,
  'last_modified': datetime.datetime(2025, 9, 14, 17, 19, 43, 594316)}}

In [9]:
handler.list_cached_symbols()

['A2A.MI', 'FTSEMIB.MI']

In [4]:
symbols = handler.list_cached_symbols()
handler.download_data(symbols, use_cache=True)

2025-09-15 12:01:49,577 - algoshort.yfinance_handler.YFinanceDataHandler - INFO - Cache hits: 10, Downloads needed: 0
2025-09-15 12:01:49,577 - algoshort.yfinance_handler.YFinanceDataHandler - INFO - Successfully processed 10/10 symbols

{'A2A.MI': Price           open      high       low     close    volume
 Date
 2016-01-04  0.776806  0.780559  0.763046  0.765548  12496412
 2016-01-05  0.771802  0.777431  0.761169  0.774304   9773848
 2016-01-06  0.770551  0.781184  0.766173  0.769300  12137840
 2016-01-07  0.759919  0.779308  0.747410  0.777431  17878384
 2016-01-08  0.778057  0.786187  0.771177  0.772428  14424671
 ...              ...       ...       ...       ...       ...
 2025-09-08  2.128000  2.131000  2.106000  2.106000   5032625
 2025-09-09  2.103000  2.114000  2.102000  2.112000   5528723
 2025-09-10  2.111000  2.117000  2.097000  2.117000   6680848
 2025-09-11  2.122000  2.149000  2.122000  2.131000   6168797
 2025-09-12  2.142000  2.168000  2.134000  2.163000   6712931

 [2466 rows x 5 columns],
 'AMP.MI': Price            open       high        low      close   volume
 Date
 2016-01-04   7.437665   7.451637   7.283975   7.335205   581549
 2016-01-05   7.419036   7.544783   7.335205   7.391092  1026450
 2016-01-06   7.428350   7.428350   7.223430   7.311918   412059
 2016-01-07   7.223430   7.405064   7.041796   7.367805  1059490
 2016-01-08   7.405064   7.446979   7.153571   7.153571   564414
 ...               ...        ...        ...        ...      ...
 2025-09-08  15.395000  15.665000  15.140000  15.665000  1390244
 2025-09-09  15.750000  15.800000  15.495000  15.525000  1274928
 2025-09-10  15.535000  15.545000  15.265000  15.265000   856937
 2025-09-11  15.260000  15.350000  15.165000  15.350000   944344
 2025-09-12  15.350000  15.395000  15.190000  15.190000   732715

 [2466 rows x 5 columns],
 'BRE.MI': Price           open      high       low     close   volume
 Date
 2016-01-04  7.275652  7.303447  7.032040  7.169378   972494
 2016-01-05  7.185729  7.259302  7.094170  7.139950   650692
 2016-01-06  7.154663  7.154663  6.899607  6.927401   635721
 2016-01-07  6.785158  6.798239  6.425463  6.525197  2256205
 2016-01-08  6.675615  6.793333  6.523562  6.541546  2168935
 ...              ...       ...       ...       ...      ...
 2025-09-08  9.200000  9.300000  9.195000  9.280000   135134
 2025-09-09  9.325000  9.380000  9.200000  9.220000   146606
 2025-09-10  9.195000  9.280000  9.095000  9.175000   258025
 2025-09-11  9.115000  9.225000  9.100000  9.180000   229743
 2025-09-12  9.205000  9.210000  9.100000  9.195000   242181

 [2466 rows x 5 columns],
 'BZU.MI': Price            open       high        low      close   volume
 Date
 2016-01-04  14.596780  14.703911  14.391443  14.552140   867037
 2016-01-05  14.659273  14.802116  14.462865  14.802116   635398
 2016-01-06  14.828900  14.864610  14.534286  14.552140   761752
 2016-01-07  14.266456  14.498576  13.802216  13.945059  1379111
 2016-01-08  13.927203  14.070046  13.462963  13.570095  1073955
 ...               ...        ...        ...        ...      ...
 2025-09-08  44.419998  45.320000  44.400002  45.160000   240982
 2025-09-09  45.160000  45.939999  44.980000  45.680000   486182
 2025-09-10  45.500000  46.080002  45.259998  45.779999   293966
 2025-09-11  48.139999  50.000000  47.380001  48.880001  1438336
 2025-09-12  49.099998  49.639999  48.220001  48.560001   450681

 [2466 rows x 5 columns],
 'CEM.MI': Price            open       high        low      close  volume
 Date
 2016-01-04   4.712308   4.712308   4.632439   4.704321   74102
 2016-01-05   4.704321   4.724288   4.636432   4.680360   27072
 2016-01-06   4.664387   4.664387   4.520621   4.556562  105204
 2016-01-07   4.480686   4.560556   4.328934   4.488673  139861
 2016-01-08   4.524614   4.524614   4.328933   4.328933   89252
 ...               ...        ...        ...        ...     ...
 2025-09-08  13.900000  14.260000  13.900000  14.120000   21513
 2025-09-09  14.220000  14.220000  14.040000  14.080000   18394
 2025-09-10  14.200000  14.200000  13.980000  13.980000   35384
 2025-09-11  14.000000  14.680000  14.000000  14.540000  154093
 2025-09-12  14.540000  14.720000  14.300000  14.340000   31891

 [2466 rows x 5 columns],
 'CPR.MI': Price           open      high       low     close    volume
 Date
 2016-01-04  3.658982  3.661302  3.556893  3.598657   2945130
 2016-01-05  3.621859  3.684505  3.596336  3.658982   1977768
 2016-01-06  3.645061  3.668263  3.573134  3.603297   2108240
 2016-01-07  3.545291  3.656662  3.482646  3.519769   3855864
 2016-01-08  3.512809  3.563853  3.496567  3.510488   2208548
 ...              ...       ...       ...       ...       ...
 2025-09-08  6.140000  6.146000  5.952000  5.978000   6336698
 2025-09-09  5.980000  5.982000  5.720000  5.834000  14903269
 2025-09-10  5.826000  5.828000  5.698000  5.704000   9845009
 2025-09-11  5.712000  5.746000  5.642000  5.660000   7566544
 2025-09-12  5.660000  5.660000  5.590000  5.610000   6987804

 [2466 rows x 5 columns],
 'FTSEMIB.MI': Price          open     high      low    close       volume
 Date
 2016-01-04  21186.0  21194.0  20702.0  20734.0  545475000.0
 2016-01-05  20938.0  20983.0  20722.0  20983.0  422559500.0
 2016-01-06  20922.0  20931.0  20373.0  20422.0  508538100.0
 2016-01-07  19778.0  20289.0  19629.0  20189.0  749548400.0
 2016-01-08  20189.0  20350.0  19869.0  19869.0  550008300.0
 ...             ...      ...      ...      ...          ...
 2025-09-08  41815.0  41879.0  41628.0  41724.0  307688100.0
 2025-09-09  41844.0  42086.0  41752.0  42008.0  420502200.0
 2025-09-10  42079.0  42228.0  41879.0  42060.0  396011300.0
 2025-09-11  42118.0  42535.0  42030.0  42432.0  353679600.0
 2025-09-12  42464.0  42568.0  42259.0  42566.0  314875700.0

 [2465 rows x 5 columns],
 'IG.MI': Price           open      high       low     close      volume
 Date
 2016-11-07  2.648727  2.789575  2.549612  2.588736  35612427.0
 2016-11-08  2.587432  2.600473  2.501358  2.501358  11933789.0
 2016-11-09  2.434846  2.468754  2.313560  2.327906  21739065.0
 2016-11-10  2.270523  2.335731  2.159671  2.164887  25466044.0
 2016-11-11  2.093159  2.290086  2.068380  2.172712  30431584.0
 ...              ...       ...       ...       ...         ...
 2025-09-08  7.610000  7.625000  7.570000  7.575000   1162640.0
 2025-09-09  7.600000  7.605000  7.545000  7.585000   1685259.0
 2025-09-10  7.560000  7.625000  7.520000  7.610000   1867904.0
 2025-09-11  7.595000  7.695000  7.595000  7.625000   1547422.0
 2025-09-12  7.610000  7.710000  7.595000  7.660000   1959100.0

 [2249 rows x 5 columns],
 'IP.MI': Price            open       high        low      close  volume
 Date
 2016-01-04  13.079912  13.079912  12.784737  12.969222  180451
 2016-01-05  13.089135  13.162930  12.729392  13.162930  453736
 2016-01-06  13.024568  13.024568  12.720169  12.840084  289856
 2016-01-07  12.683273  12.683273  12.037579  12.203614  388767
 2016-01-08  12.305080  12.314305  11.899215  11.926888  293614
 ...               ...        ...        ...        ...     ...
 2025-09-08  40.639999  41.520000  40.639999  41.500000  169906
 2025-09-09  41.580002  41.840000  40.700001  40.700001  170244
 2025-09-10  40.840000  40.980000  40.200001  40.520000  152403
 2025-09-11  40.540001  41.700001  40.540001  41.340000  245967
 2025-09-12  41.279999  41.720001  40.959999  41.040001  214664

 [2466 rows x 5 columns],
 'MONC.MI': Price            open       high        low      close   volume
 Date
 2016-01-04  11.405755  11.405755  10.836357  11.076571  2223179
 2016-01-05  11.210024  11.245611  10.809665  10.969809  1649453
 2016-01-06  10.987604  11.014294  10.720699  10.845254  1682315
 2016-01-07  10.569453  11.076573  10.053436  10.898636  2789127
 2016-01-08  10.952018  11.094367  10.774080  10.987605  1492468
 ...               ...        ...        ...        ...      ...
 2025-09-08  47.200001  47.200001  46.630001  46.869999   714524
 2025-09-09  46.889999  47.799999  46.759998  47.549999   838766
 2025-09-10  47.459999  48.720001  47.299999  48.549999   921195
 2025-09-11  48.470001  49.490002  48.240002  49.240002   992379
 2025-09-12  49.160000  50.080002  48.889999  49.360001   910875

 [2466 rows x 5 columns]}

In [34]:
handler.list_available_data()

{'A2A.MI': {'rows': 2466,
  'columns': ['open', 'high', 'low', 'close', 'volume'],
  'date_range': '2016-01-04 to 2025-09-12',
  'missing_values': np.int64(0)},
 'AMP.MI': {'rows': 2466,
  'columns': ['open', 'high', 'low', 'close', 'volume'],
  'date_range': '2016-01-04 to 2025-09-12',
  'missing_values': np.int64(0)},
 'BRE.MI': {'rows': 2466,
  'columns': ['open', 'high', 'low', 'close', 'volume'],
  'date_range': '2016-01-04 to 2025-09-12',
  'missing_values': np.int64(0)},
 'BZU.MI': {'rows': 2466,
  'columns': ['open', 'high', 'low', 'close', 'volume'],
  'date_range': '2016-01-04 to 2025-09-12',
  'missing_values': np.int64(0)},
 'CEM.MI': {'rows': 2466,
  'columns': ['open', 'high', 'low', 'close', 'volume'],
  'date_range': '2016-01-04 to 2025-09-12',
  'missing_values': np.int64(0)},
 'CPR.MI': {'rows': 2466,
  'columns': ['open', 'high', 'low', 'close', 'volume'],
  'date_range': '2016-01-04 to 2025-09-12',
  'missing_values': np.int64(0)},
 'FTSEMIB.MI': {'rows': 2465,
  'columns': ['open', 'high', 'low', 'close', 'volume'],
  'date_range': '2016-01-04 to 2025-09-12',
  'missing_values': np.int64(0)},
 'IG.MI': {'rows': 2249,
  'columns': ['open', 'high', 'low', 'close', 'volume'],
  'date_range': '2016-11-07 to 2025-09-12',
  'missing_values': np.int64(0)},
 'IP.MI': {'rows': 2466,
  'columns': ['open', 'high', 'low', 'close', 'volume'],
  'date_range': '2016-01-04 to 2025-09-12',
  'missing_values': np.int64(0)},
 'MONC.MI': {'rows': 2466,
  'columns': ['open', 'high', 'low', 'close', 'volume'],
  'date_range': '2016-01-04 to 2025-09-12',
  'missing_values': np.int64(0)}}

In [46]:
handler.list_cached_data()

{'BZU.MI_5y_1d.parquet': {'symbol': 'BZU.MI',
  'period': '5y',
  'interval': '1d',
  'size_kb': 65.58,
  'last_modified': datetime.datetime(2025, 9, 14, 16, 8, 15, 607394)},
 'CEM.MI_5y_1d.parquet': {'symbol': 'CEM.MI',
  'period': '5y',
  'interval': '1d',
  'size_kb': 62.57,
  'last_modified': datetime.datetime(2025, 9, 14, 16, 8, 15, 602391)}}

In [47]:
handler.symbols

['BZU.MI', 'CEM.MI']

In [15]:
from datetime import date
handler.download_data(['A2A.MI', 'FTSEMIB.MI'], start='2016-01-01', end=date.today())

2025-09-14 17:19:12,864 - algoshort.yfinance_handler.YFinanceDataHandler - INFO - Cache hits: 0, Downloads needed: 2
2025-09-14 17:19:12,864 - algoshort.yfinance_handler.YFinanceDataHandler - INFO - Cache hits: 0, Downloads needed: 2
2025-09-14 17:19:12,864 - algoshort.yfinance_handler.YFinanceDataHandler - INFO - Cache hits: 0, Downloads needed: 2
2025-09-14 17:19:12,864 - algoshort.yfinance_handler.YFinanceDataHandler - INFO - Cache hits: 0, Downloads needed: 2
2025-09-14 17:19:12,867 - algoshort.yfinance_handler.YFinanceDataHandler - INFO - Downloading 2 symbols in 1 chunks of 50
2025-09-14 17:19:12,867 - algoshort.yfinance_handler.YFinanceDataHandler - INFO - Downloading 2 symbols in 1 chunks of 50
2025-09-14 17:19:12,867 - algoshort.yfinance_handler.YFinanceDataHandler - INFO - Downloading 2 symbols in 1 chunks of 50
2025-09-14 17:19:12,867 - algoshort.yfinance_handler.YFinanceDataHandler - INFO - Downloading 2 symbols in 1 chunks of 50
[*********************100%***********************]  2 of 2 completed
2025-09-14 17:19:12,921 - algoshort.yfinance_handler.YFinanceDataHandler - INFO - Successfully processed 2/2 symbols
2025-09-14 17:19:12,921 - algoshort.yfinance_handler.YFinanceDataHandler - INFO - Successfully processed 2/2 symbols
2025-09-14 17:19:12,921 - algoshort.yfinance_handler.YFinanceDataHandler - INFO - Successfully processed 2/2 symbols
2025-09-14 17:19:12,921 - algoshort.yfinance_handler.YFinanceDataHandler - INFO - Successfully processed 2/2 symbols

{'A2A.MI': Price           open      high       low     close    volume
 Date
 2016-01-04  0.776806  0.780559  0.763046  0.765548  12496412
 2016-01-05  0.771802  0.777431  0.761169  0.774304   9773848
 2016-01-06  0.770551  0.781184  0.766173  0.769300  12137840
 2016-01-07  0.759919  0.779308  0.747410  0.777431  17878384
 2016-01-08  0.778057  0.786187  0.771177  0.772428  14424671
 ...              ...       ...       ...       ...       ...
 2025-09-08  2.128000  2.131000  2.106000  2.106000   5032625
 2025-09-09  2.103000  2.114000  2.102000  2.112000   5528723
 2025-09-10  2.111000  2.117000  2.097000  2.117000   6680848
 2025-09-11  2.122000  2.149000  2.122000  2.131000   6168797
 2025-09-12  2.142000  2.168000  2.134000  2.163000   6712931

 [2466 rows x 5 columns],
 'FTSEMIB.MI': Price          open     high      low    close       volume
 Date
 2016-01-04  21186.0  21194.0  20702.0  20734.0  545475000.0
 2016-01-05  20938.0  20983.0  20722.0  20983.0  422559500.0
 2016-01-06  20922.0  20931.0  20373.0  20422.0  508538100.0
 2016-01-07  19778.0  20289.0  19629.0  20189.0  749548400.0
 2016-01-08  20189.0  20350.0  19869.0  19869.0  550008300.0
 ...             ...      ...      ...      ...          ...
 2025-09-08  41815.0  41879.0  41628.0  41724.0  307688100.0
 2025-09-09  41844.0  42086.0  41752.0  42008.0  420502200.0
 2025-09-10  42079.0  42228.0  41879.0  42060.0  396011300.0
 2025-09-11  42118.0  42535.0  42030.0  42432.0  353679600.0
 2025-09-12  42464.0  42568.0  42259.0  42566.0  314875700.0

 [2465 rows x 5 columns]}

In [73]:
handler.list_available_data()

{'A2A.MI': {'rows': 2466,
  'columns': ['open', 'high', 'low', 'close', 'volume'],
  'date_range': '2016-01-04 to 2025-09-12',
  'missing_values': np.int64(0)},
 'FTSEMIB.MI': {'rows': 2465,
  'columns': ['open', 'high', 'low', 'close', 'volume'],
  'date_range': '2016-01-04 to 2025-09-12',
  'missing_values': np.int64(0)}}

In [74]:
handler.list_cached_symbols()

['A2A.MI', 'FTSEMIB.MI']

In [5]:
data = handler.get_data('A2A.MI')
data

Price           open      high       low     close    volume
Date
2016-01-04  0.776806  0.780559  0.763046  0.765548  12496412
2016-01-05  0.771802  0.777431  0.761169  0.774304   9773848
2016-01-06  0.770551  0.781184  0.766173  0.769300  12137840
2016-01-07  0.759919  0.779308  0.747410  0.777431  17878384
2016-01-08  0.778057  0.786187  0.771177  0.772428  14424671
...              ...       ...       ...       ...       ...
2025-09-08  2.128000  2.131000  2.106000  2.106000   5032625
2025-09-09  2.103000  2.114000  2.102000  2.112000   5528723
2025-09-10  2.111000  2.117000  2.097000  2.117000   6680848
2025-09-11  2.122000  2.149000  2.122000  2.131000   6168797
2025-09-12  2.142000  2.168000  2.134000  2.163000   6712931

[2466 rows x 5 columns]

In [14]:
data = handler.get_data('FTSEMIB.MI')
data

Price          open     high      low    close       volume
Date
2016-01-04  21186.0  21194.0  20702.0  20734.0  545475000.0
2016-01-05  20938.0  20983.0  20722.0  20983.0  422559500.0
2016-01-06  20922.0  20931.0  20373.0  20422.0  508538100.0
2016-01-07  19778.0  20289.0  19629.0  20189.0  749548400.0
2016-01-08  20189.0  20350.0  19869.0  19869.0  550008300.0
...             ...      ...      ...      ...          ...
2025-09-08  41815.0  41879.0  41628.0  41724.0  307688100.0
2025-09-09  41844.0  42086.0  41752.0  42008.0  420502200.0
2025-09-10  42079.0  42228.0  41879.0  42060.0  396011300.0
2025-09-11  42118.0  42535.0  42030.0  42432.0  353679600.0
2025-09-12  42464.0  42568.0  42259.0  42566.0  314875700.0

[2465 rows x 5 columns]

In [36]:
handler.get_ohlc_data('A2A.MI')

Price       date      open      high       low     close
0     2016-01-04  0.776806  0.780558  0.763046  0.765548
1     2016-01-05  0.771802  0.777431  0.761170  0.774304
2     2016-01-06  0.770551  0.781184  0.766173  0.769300
3     2016-01-07  0.759919  0.779308  0.747410  0.777431
4     2016-01-08  0.778057  0.786187  0.771177  0.772428
...          ...       ...       ...       ...       ...
2461  2025-09-08  2.128000  2.131000  2.106000  2.106000
2462  2025-09-09  2.103000  2.114000  2.102000  2.112000
2463  2025-09-10  2.111000  2.117000  2.097000  2.117000
2464  2025-09-11  2.122000  2.149000  2.122000  2.131000
2465  2025-09-12  2.142000  2.168000  2.134000  2.163000

[2466 rows x 5 columns]

In [16]:
handler.get_ohlc_data('FTSEMIB.MI')

Price       date     open     high      low    close
0     2016-01-04  21186.0  21194.0  20702.0  20734.0
1     2016-01-05  20938.0  20983.0  20722.0  20983.0
2     2016-01-06  20922.0  20931.0  20373.0  20422.0
3     2016-01-07  19778.0  20289.0  19629.0  20189.0
4     2016-01-08  20189.0  20350.0  19869.0  19869.0
...          ...      ...      ...      ...      ...
2460  2025-09-08  41815.0  41879.0  41628.0  41724.0
2461  2025-09-09  41844.0  42086.0  41752.0  42008.0
2462  2025-09-10  42079.0  42228.0  41879.0  42060.0
2463  2025-09-11  42118.0  42535.0  42030.0  42432.0
2464  2025-09-12  42464.0  42568.0  42259.0  42566.0

[2465 rows x 5 columns]

In [17]:
handler.list_available_data()

{'A2A.MI': {'rows': 2466,
  'columns': ['open', 'high', 'low', 'close', 'volume'],
  'date_range': '2016-01-04 to 2025-09-12',
  'missing_values': np.int64(0)},
 'FTSEMIB.MI': {'rows': 2465,
  'columns': ['open', 'high', 'low', 'close', 'volume'],
  'date_range': '2016-01-04 to 2025-09-12',
  'missing_values': np.int64(0)}}

In [16]:
symbols = ['A2A.MI', 'BZU.MI', 'CEM.MI']
handler.download_data(symbols, start='2016-01-01', end=date.today())

2025-09-14 17:19:27,022 - algoshort.yfinance_handler.YFinanceDataHandler - INFO - Cache hits: 1, Downloads needed: 2
2025-09-14 17:19:27,022 - algoshort.yfinance_handler.YFinanceDataHandler - INFO - Cache hits: 1, Downloads needed: 2
2025-09-14 17:19:27,022 - algoshort.yfinance_handler.YFinanceDataHandler - INFO - Cache hits: 1, Downloads needed: 2
2025-09-14 17:19:27,022 - algoshort.yfinance_handler.YFinanceDataHandler - INFO - Cache hits: 1, Downloads needed: 2
2025-09-14 17:19:27,025 - algoshort.yfinance_handler.YFinanceDataHandler - INFO - Downloading 2 symbols in 1 chunks of 50
2025-09-14 17:19:27,025 - algoshort.yfinance_handler.YFinanceDataHandler - INFO - Downloading 2 symbols in 1 chunks of 50
2025-09-14 17:19:27,025 - algoshort.yfinance_handler.YFinanceDataHandler - INFO - Downloading 2 symbols in 1 chunks of 50
2025-09-14 17:19:27,025 - algoshort.yfinance_handler.YFinanceDataHandler - INFO - Downloading 2 symbols in 1 chunks of 50
[*********************100%***********************]  2 of 2 completed
2025-09-14 17:19:27,078 - algoshort.yfinance_handler.YFinanceDataHandler - INFO - Successfully processed 3/3 symbols
2025-09-14 17:19:27,078 - algoshort.yfinance_handler.YFinanceDataHandler - INFO - Successfully processed 3/3 symbols
2025-09-14 17:19:27,078 - algoshort.yfinance_handler.YFinanceDataHandler - INFO - Successfully processed 3/3 symbols
2025-09-14 17:19:27,078 - algoshort.yfinance_handler.YFinanceDataHandler - INFO - Successfully processed 3/3 symbols

{'A2A.MI': Price           open      high       low     close    volume
 Date
 2016-01-04  0.776806  0.780559  0.763046  0.765548  12496412
 2016-01-05  0.771802  0.777431  0.761169  0.774304   9773848
 2016-01-06  0.770551  0.781184  0.766173  0.769300  12137840
 2016-01-07  0.759919  0.779308  0.747410  0.777431  17878384
 2016-01-08  0.778057  0.786187  0.771177  0.772428  14424671
 ...              ...       ...       ...       ...       ...
 2025-09-08  2.128000  2.131000  2.106000  2.106000   5032625
 2025-09-09  2.103000  2.114000  2.102000  2.112000   5528723
 2025-09-10  2.111000  2.117000  2.097000  2.117000   6680848
 2025-09-11  2.122000  2.149000  2.122000  2.131000   6168797
 2025-09-12  2.142000  2.168000  2.134000  2.163000   6712931

 [2466 rows x 5 columns],
 'BZU.MI': Price            open       high        low      close   volume
 Date
 2016-01-04  14.596780  14.703911  14.391443  14.552140   867037
 2016-01-05  14.659273  14.802116  14.462865  14.802116   635398
 2016-01-06  14.828900  14.864610  14.534286  14.552140   761752
 2016-01-07  14.266456  14.498576  13.802216  13.945059  1379111
 2016-01-08  13.927203  14.070046  13.462963  13.570095  1073955
 ...               ...        ...        ...        ...      ...
 2025-09-08  44.419998  45.320000  44.400002  45.160000   240982
 2025-09-09  45.160000  45.939999  44.980000  45.680000   486182
 2025-09-10  45.500000  46.080002  45.259998  45.779999   293966
 2025-09-11  48.139999  50.000000  47.380001  48.880001  1438336
 2025-09-12  49.099998  49.639999  48.220001  48.560001   450681

 [2466 rows x 5 columns],
 'CEM.MI': Price            open       high        low      close  volume
 Date
 2016-01-04   4.712308   4.712308   4.632439   4.704321   74102
 2016-01-05   4.704321   4.724288   4.636432   4.680360   27072
 2016-01-06   4.664387   4.664387   4.520621   4.556562  105204
 2016-01-07   4.480686   4.560556   4.328934   4.488673  139861
 2016-01-08   4.524614   4.524614   4.328933   4.328933   89252
 ...               ...        ...        ...        ...     ...
 2025-09-08  13.900000  14.260000  13.900000  14.120000   21513
 2025-09-09  14.220000  14.220000  14.040000  14.080000   18394
 2025-09-10  14.200000  14.200000  13.980000  13.980000   35384
 2025-09-11  14.000000  14.680000  14.000000  14.540000  154093
 2025-09-12  14.540000  14.720000  14.300000  14.340000   31891

 [2466 rows x 5 columns]}

In [6]:
handler.list_cached_symbols()

['A2A.MI',
 'AMP.MI',
 'BRE.MI',
 'BZU.MI',
 'CEM.MI',
 'CPR.MI',
 'FTSEMIB.MI',
 'IG.MI',
 'IP.MI',
 'MONC.MI']

In [7]:
# Get combined closing prices
combined_closes = handler.get_multiple_symbols_data(handler.list_cached_symbols())
combined_closes

2025-09-15 12:02:25,226 - algoshort.yfinance_handler.YFinanceDataHandler - INFO - Successfully combined data for symbols: ['A2A.MI', 'AMP.MI', 'BRE.MI', 'BZU.MI', 'CEM.MI', 'CPR.MI', 'FTSEMIB.MI', 'IG.MI', 'IP.MI', 'MONC.MI']

,date,A2A.MI,AMP.MI,BRE.MI,BZU.MI,CEM.MI,CPR.MI,FTSEMIB.MI,IG.MI,IP.MI,MONC.MI
0,2016-01-04,0.765548,7.335205,7.169378,14.552140,4.704321,3.598657,20734.0,NaN,12.969222,11.076571
1,2016-01-05,0.774304,7.391092,7.139950,14.802116,4.680360,3.658982,20983.0,NaN,13.162930,10.969809
2,2016-01-06,0.769300,7.311918,6.927401,14.552140,4.556562,3.603297,20422.0,NaN,12.840084,10.845254
3,2016-01-07,0.777431,7.367805,6.525197,13.945059,4.488673,3.519769,20189.0,NaN,12.203614,10.898636
4,2016-01-08,0.772428,7.153571,6.541546,13.570095,4.328933,3.510488,19869.0,NaN,11.926888,10.987605
...,...,...,...,...,...,...,...,...,...,...,...
2461,2025-09-08,2.106000,15.665000,9.280000,45.160000,14.120000,5.978000,41724.0,7.575,41.500000,46.869999
2462,2025-09-09,2.112000,15.525000,9.220000,45.680000,14.080000,5.834000,42008.0,7.585,40.700001,47.549999
2463,2025-09-10,2.117000,15.265000,9.175000,45.779999,13.980000,5.704000,42060.0,7.610,40.520000,48.549999
2464,2025-09-11,2.131000,15.350000,9.180000,48.880001,14.540000,5.660000,42432.0,7.625,41.340000,49.240002
2465,2025-09-12,2.163000,15.190000,9.195000,48.560001,14.340000,5.610000,42566.0,7.660,41.040001,49.360001

In [23]:
handler.symbols
handler.list_cached_symbols()

['A2A.MI', 'BZU.MI', 'CEM.MI', 'FTSEMIB.MI']

In [8]:

row_data = handler.get_combined_data(handler.symbols)
row_data

Price,Date,symbol,open,high,low,close,volume
0,2016-01-04,A2A.MI,0.776806,0.780559,0.763046,0.765548,12496412.0
1,2016-01-04,AMP.MI,7.437665,7.451637,7.283975,7.335205,581549.0
2,2016-01-04,BRE.MI,7.275652,7.303447,7.032040,7.169378,972494.0
3,2016-01-04,BZU.MI,14.596780,14.703911,14.391443,14.552140,867037.0
4,2016-01-04,CEM.MI,4.712308,4.712308,4.632439,4.704321,74102.0
...,...,...,...,...,...,...,...
24437,2025-09-12,CPR.MI,5.660000,5.660000,5.590000,5.610000,6987804.0
24438,2025-09-12,FTSEMIB.MI,42464.000000,42568.000000,42259.000000,42566.000000,314875700.0
24439,2025-09-12,IG.MI,7.610000,7.710000,7.595000,7.660000,1959100.0
24440,2025-09-12,IP.MI,41.279999,41.720001,40.959999,41.040001,214664.0
24441,2025-09-12,MONC.MI,49.160000,50.080002,48.889999,49.360001,910875.0

In [21]:
handler.data

{'A2A.MI': Price           open      high       low     close    volume
 Date
 2016-01-04  0.776806  0.780558  0.763046  0.765548  12496412
 2016-01-05  0.771802  0.777431  0.761170  0.774304   9773848
 2016-01-06  0.770551  0.781184  0.766173  0.769300  12137840
 2016-01-07  0.759919  0.779308  0.747410  0.777431  17878384
 2016-01-08  0.778057  0.786187  0.771177  0.772428  14424671
 ...              ...       ...       ...       ...       ...
 2025-09-08  2.128000  2.131000  2.106000  2.106000   5032625
 2025-09-09  2.103000  2.114000  2.102000  2.112000   5528723
 2025-09-10  2.111000  2.117000  2.097000  2.117000   6680848
 2025-09-11  2.122000  2.149000  2.122000  2.131000   6168797
 2025-09-12  2.142000  2.168000  2.134000  2.163000   6712931

 [2466 rows x 5 columns],
 'FTSEMIB.MI': Price          open     high      low    close       volume
 Date
 2016-01-04  21186.0  21194.0  20702.0  20734.0  545475000.0
 2016-01-05  20938.0  20983.0  20722.0  20983.0  422559500.0
 2016-01-06  20922.0  20931.0  20373.0  20422.0  508538100.0
 2016-01-07  19778.0  20289.0  19629.0  20189.0  749548400.0
 2016-01-08  20189.0  20350.0  19869.0  19869.0  550008300.0
 ...             ...      ...      ...      ...          ...
 2025-09-08  41815.0  41879.0  41628.0  41724.0  307688100.0
 2025-09-09  41844.0  42086.0  41752.0  42008.0  420502200.0
 2025-09-10  42079.0  42228.0  41879.0  42060.0  396011300.0
 2025-09-11  42118.0  42535.0  42030.0  42432.0  353679600.0
 2025-09-12  42464.0  42568.0  42259.0  42566.0  314875700.0

 [2465 rows x 5 columns],
 'BZU.MI': Price            open       high        low      close   volume
 Date
 2016-01-04  14.596779  14.703910  14.391442  14.552139   867037
 2016-01-05  14.659275  14.802118  14.462867  14.802118   635398
 2016-01-06  14.828899  14.864609  14.534285  14.552139   761752
 2016-01-07  14.266456  14.498577  13.802217  13.945060  1379111
 2016-01-08  13.927204  14.070047  13.462964  13.570096  1073955
 ...               ...        ...        ...        ...      ...
 2025-09-08  44.419998  45.320000  44.400002  45.160000   240982
 2025-09-09  45.160000  45.939999  44.980000  45.680000   486182
 2025-09-10  45.500000  46.080002  45.259998  45.779999   293966
 2025-09-11  48.139999  50.000000  47.380001  48.880001  1438336
 2025-09-12  49.099998  49.639999  48.220001  48.560001   450681

 [2466 rows x 5 columns],
 'CEM.MI': Price            open       high        low      close  volume
 Date
 2016-01-04   4.712309   4.712309   4.632439   4.704322   74102
 2016-01-05   4.704321   4.724289   4.636432   4.680361   27072
 2016-01-06   4.664386   4.664386   4.520621   4.556562  105204
 2016-01-07   4.480686   4.560556   4.328934   4.488673  139861
 2016-01-08   4.524614   4.524614   4.328933   4.328933   89252
 ...               ...        ...        ...        ...     ...
 2025-09-08  13.900000  14.260000  13.900000  14.120000   21513
 2025-09-09  14.220000  14.220000  14.040000  14.080000   18394
 2025-09-10  14.200000  14.200000  13.980000  13.980000   35384
 2025-09-11  14.000000  14.680000  14.000000  14.540000  154093
 2025-09-12  14.540000  14.720000  14.300000  14.340000   31891

 [2466 rows x 5 columns]}

In [17]:
# Initialize with custom chunk size
handler = YFinanceDataHandler(cache_dir="./cache", chunk_size=3)

# Downloads 100 symbols in 4 chunks of 25 each
symbols = ['BRE.MI', 'CPR.MI', 'IG.MI', 'IP.MI', 'AMP.MI', 'MONC.MI', 'A2A.MI', 'CEM.MI', 'BZU.MI', 'FTSEMIB.MI'] 
handler.download_data(symbols, start='2016-01-01', end=date.today())

2025-09-14 17:19:43,419 - algoshort.yfinance_handler.YFinanceDataHandler - INFO - Cache hits: 4, Downloads needed: 6
2025-09-14 17:19:43,419 - algoshort.yfinance_handler.YFinanceDataHandler - INFO - Cache hits: 4, Downloads needed: 6
2025-09-14 17:19:43,419 - algoshort.yfinance_handler.YFinanceDataHandler - INFO - Cache hits: 4, Downloads needed: 6
2025-09-14 17:19:43,419 - algoshort.yfinance_handler.YFinanceDataHandler - INFO - Cache hits: 4, Downloads needed: 6
2025-09-14 17:19:43,419 - algoshort.yfinance_handler.YFinanceDataHandler - INFO - Cache hits: 4, Downloads needed: 6
2025-09-14 17:19:43,423 - algoshort.yfinance_handler.YFinanceDataHandler - INFO - Downloading 6 symbols in 2 chunks of 3
2025-09-14 17:19:43,423 - algoshort.yfinance_handler.YFinanceDataHandler - INFO - Downloading 6 symbols in 2 chunks of 3
2025-09-14 17:19:43,423 - algoshort.yfinance_handler.YFinanceDataHandler - INFO - Downloading 6 symbols in 2 chunks of 3
2025-09-14 17:19:43,423 - algoshort.yfinance_handler.YFinanceDataHandler - INFO - Downloading 6 symbols in 2 chunks of 3
2025-09-14 17:19:43,423 - algoshort.yfinance_handler.YFinanceDataHandler - INFO - Downloading 6 symbols in 2 chunks of 3
[*********************100%***********************]  3 of 3 completed
[*********************100%***********************]  3 of 3 completed
2025-09-14 17:19:43,594 - algoshort.yfinance_handler.YFinanceDataHandler - INFO - Successfully processed 10/10 symbols
2025-09-14 17:19:43,594 - algoshort.yfinance_handler.YFinanceDataHandler - INFO - Successfully processed 10/10 symbols
2025-09-14 17:19:43,594 - algoshort.yfinance_handler.YFinanceDataHandler - INFO - Successfully processed 10/10 symbols
2025-09-14 17:19:43,594 - algoshort.yfinance_handler.YFinanceDataHandler - INFO - Successfully processed 10/10 symbols
2025-09-14 17:19:43,594 - algoshort.yfinance_handler.YFinanceDataHandler - INFO - Successfully processed 10/10 symbols

{'BRE.MI': Price           open      high       low     close   volume
 Date
 2016-01-04  7.275652  7.303447  7.032040  7.169378   972494
 2016-01-05  7.185729  7.259302  7.094170  7.139950   650692
 2016-01-06  7.154663  7.154663  6.899607  6.927401   635721
 2016-01-07  6.785158  6.798239  6.425463  6.525197  2256205
 2016-01-08  6.675615  6.793333  6.523562  6.541546  2168935
 ...              ...       ...       ...       ...      ...
 2025-09-08  9.200000  9.300000  9.195000  9.280000   135134
 2025-09-09  9.325000  9.380000  9.200000  9.220000   146606
 2025-09-10  9.195000  9.280000  9.095000  9.175000   258025
 2025-09-11  9.115000  9.225000  9.100000  9.180000   229743
 2025-09-12  9.205000  9.210000  9.100000  9.195000   242181

 [2466 rows x 5 columns],
 'CPR.MI': Price           open      high       low     close    volume
 Date
 2016-01-04  3.658982  3.661302  3.556893  3.598657   2945130
 2016-01-05  3.621859  3.684505  3.596336  3.658982   1977768
 2016-01-06  3.645061  3.668263  3.573134  3.603297   2108240
 2016-01-07  3.545291  3.656662  3.482646  3.519769   3855864
 2016-01-08  3.512809  3.563853  3.496567  3.510488   2208548
 ...              ...       ...       ...       ...       ...
 2025-09-08  6.140000  6.146000  5.952000  5.978000   6336698
 2025-09-09  5.980000  5.982000  5.720000  5.834000  14903269
 2025-09-10  5.826000  5.828000  5.698000  5.704000   9845009
 2025-09-11  5.712000  5.746000  5.642000  5.660000   7566544
 2025-09-12  5.660000  5.660000  5.590000  5.610000   6987804

 [2466 rows x 5 columns],
 'IG.MI': Price           open      high       low     close      volume
 Date
 2016-11-07  2.648727  2.789575  2.549612  2.588736  35612427.0
 2016-11-08  2.587432  2.600473  2.501358  2.501358  11933789.0
 2016-11-09  2.434846  2.468754  2.313560  2.327906  21739065.0
 2016-11-10  2.270523  2.335731  2.159671  2.164887  25466044.0
 2016-11-11  2.093159  2.290086  2.068380  2.172712  30431584.0
 ...              ...       ...       ...       ...         ...
 2025-09-08  7.610000  7.625000  7.570000  7.575000   1162640.0
 2025-09-09  7.600000  7.605000  7.545000  7.585000   1685259.0
 2025-09-10  7.560000  7.625000  7.520000  7.610000   1867904.0
 2025-09-11  7.595000  7.695000  7.595000  7.625000   1547422.0
 2025-09-12  7.610000  7.710000  7.595000  7.660000   1959100.0

 [2249 rows x 5 columns],
 'IP.MI': Price            open       high        low      close  volume
 Date
 2016-01-04  13.079912  13.079912  12.784737  12.969222  180451
 2016-01-05  13.089135  13.162930  12.729392  13.162930  453736
 2016-01-06  13.024568  13.024568  12.720169  12.840084  289856
 2016-01-07  12.683273  12.683273  12.037579  12.203614  388767
 2016-01-08  12.305080  12.314305  11.899215  11.926888  293614
 ...               ...        ...        ...        ...     ...
 2025-09-08  40.639999  41.520000  40.639999  41.500000  169906
 2025-09-09  41.580002  41.840000  40.700001  40.700001  170244
 2025-09-10  40.840000  40.980000  40.200001  40.520000  152403
 2025-09-11  40.540001  41.700001  40.540001  41.340000  245967
 2025-09-12  41.279999  41.720001  40.959999  41.040001  214664

 [2466 rows x 5 columns],
 'AMP.MI': Price            open       high        low      close   volume
 Date
 2016-01-04   7.437665   7.451637   7.283975   7.335205   581549
 2016-01-05   7.419036   7.544783   7.335205   7.391092  1026450
 2016-01-06   7.428350   7.428350   7.223430   7.311918   412059
 2016-01-07   7.223430   7.405064   7.041796   7.367805  1059490
 2016-01-08   7.405064   7.446979   7.153571   7.153571   564414
 ...               ...        ...        ...        ...      ...
 2025-09-08  15.395000  15.665000  15.140000  15.665000  1390244
 2025-09-09  15.750000  15.800000  15.495000  15.525000  1274928
 2025-09-10  15.535000  15.545000  15.265000  15.265000   856937
 2025-09-11  15.260000  15.350000  15.165000  15.350000   944344
 2025-09-12  15.350000  15.395000  15.190000  15.190000   732715

 [2466 rows x 5 columns],
 'MONC.MI': Price            open       high        low      close   volume
 Date
 2016-01-04  11.405755  11.405755  10.836357  11.076571  2223179
 2016-01-05  11.210024  11.245611  10.809665  10.969809  1649453
 2016-01-06  10.987604  11.014294  10.720699  10.845254  1682315
 2016-01-07  10.569453  11.076573  10.053436  10.898636  2789127
 2016-01-08  10.952018  11.094367  10.774080  10.987605  1492468
 ...               ...        ...        ...        ...      ...
 2025-09-08  47.200001  47.200001  46.630001  46.869999   714524
 2025-09-09  46.889999  47.799999  46.759998  47.549999   838766
 2025-09-10  47.459999  48.720001  47.299999  48.549999   921195
 2025-09-11  48.470001  49.490002  48.240002  49.240002   992379
 2025-09-12  49.160000  50.080002  48.889999  49.360001   910875

 [2466 rows x 5 columns],
 'A2A.MI': Price           open      high       low     close    volume
 Date
 2016-01-04  0.776806  0.780559  0.763046  0.765548  12496412
 2016-01-05  0.771802  0.777431  0.761169  0.774304   9773848
 2016-01-06  0.770551  0.781184  0.766173  0.769300  12137840
 2016-01-07  0.759919  0.779308  0.747410  0.777431  17878384
 2016-01-08  0.778057  0.786187  0.771177  0.772428  14424671
 ...              ...       ...       ...       ...       ...
 2025-09-08  2.128000  2.131000  2.106000  2.106000   5032625
 2025-09-09  2.103000  2.114000  2.102000  2.112000   5528723
 2025-09-10  2.111000  2.117000  2.097000  2.117000   6680848
 2025-09-11  2.122000  2.149000  2.122000  2.131000   6168797
 2025-09-12  2.142000  2.168000  2.134000  2.163000   6712931

 [2466 rows x 5 columns],
 'CEM.MI': Price            open       high        low      close  volume
 Date
 2016-01-04   4.712308   4.712308   4.632439   4.704321   74102
 2016-01-05   4.704321   4.724288   4.636432   4.680360   27072
 2016-01-06   4.664387   4.664387   4.520621   4.556562  105204
 2016-01-07   4.480686   4.560556   4.328934   4.488673  139861
 2016-01-08   4.524614   4.524614   4.328933   4.328933   89252
 ...               ...        ...        ...        ...     ...
 2025-09-08  13.900000  14.260000  13.900000  14.120000   21513
 2025-09-09  14.220000  14.220000  14.040000  14.080000   18394
 2025-09-10  14.200000  14.200000  13.980000  13.980000   35384
 2025-09-11  14.000000  14.680000  14.000000  14.540000  154093
 2025-09-12  14.540000  14.720000  14.300000  14.340000   31891

 [2466 rows x 5 columns],
 'BZU.MI': Price            open       high        low      close   volume
 Date
 2016-01-04  14.596780  14.703911  14.391443  14.552140   867037
 2016-01-05  14.659273  14.802116  14.462865  14.802116   635398
 2016-01-06  14.828900  14.864610  14.534286  14.552140   761752
 2016-01-07  14.266456  14.498576  13.802216  13.945059  1379111
 2016-01-08  13.927203  14.070046  13.462963  13.570095  1073955
 ...               ...        ...        ...        ...      ...
 2025-09-08  44.419998  45.320000  44.400002  45.160000   240982
 2025-09-09  45.160000  45.939999  44.980000  45.680000   486182
 2025-09-10  45.500000  46.080002  45.259998  45.779999   293966
 2025-09-11  48.139999  50.000000  47.380001  48.880001  1438336
 2025-09-12  49.099998  49.639999  48.220001  48.560001   450681

 [2466 rows x 5 columns],
 'FTSEMIB.MI': Price          open     high      low    close       volume
 Date
 2016-01-04  21186.0  21194.0  20702.0  20734.0  545475000.0
 2016-01-05  20938.0  20983.0  20722.0  20983.0  422559500.0
 2016-01-06  20922.0  20931.0  20373.0  20422.0  508538100.0
 2016-01-07  19778.0  20289.0  19629.0  20189.0  749548400.0
 2016-01-08  20189.0  20350.0  19869.0  19869.0  550008300.0
 ...             ...      ...      ...      ...          ...
 2025-09-08  41815.0  41879.0  41628.0  41724.0  307688100.0
 2025-09-09  41844.0  42086.0  41752.0  42008.0  420502200.0
 2025-09-10  42079.0  42228.0  41879.0  42060.0  396011300.0
 2025-09-11  42118.0  42535.0  42030.0  42432.0  353679600.0
 2025-09-12  42464.0  42568.0  42259.0  42566.0  314875700.0

 [2465 rows x 5 columns]}

In [26]:
handler.list_available_data()

{'A2A.MI': {'rows': 2466,
  'columns': ['open', 'high', 'low', 'close', 'volume'],
  'date_range': '2016-01-04 to 2025-09-12',
  'missing_values': np.int64(0)},
 'CEM.MI': {'rows': 2466,
  'columns': ['open', 'high', 'low', 'close', 'volume'],
  'date_range': '2016-01-04 to 2025-09-12',
  'missing_values': np.int64(0)},
 'BZU.MI': {'rows': 2466,
  'columns': ['open', 'high', 'low', 'close', 'volume'],
  'date_range': '2016-01-04 to 2025-09-12',
  'missing_values': np.int64(0)},
 'BRE.MI': {'rows': 2466,
  'columns': ['open', 'high', 'low', 'close', 'volume'],
  'date_range': '2016-01-04 to 2025-09-12',
  'missing_values': np.int64(0)},
 'CPR.MI': {'rows': 2466,
  'columns': ['open', 'high', 'low', 'close', 'volume'],
  'date_range': '2016-01-04 to 2025-09-12',
  'missing_values': np.int64(0)},
 'IG.MI': {'rows': 2249,
  'columns': ['open', 'high', 'low', 'close', 'volume'],
  'date_range': '2016-11-07 to 2025-09-12',
  'missing_values': np.int64(0)},
 'IP.MI': {'rows': 2466,
  'columns': ['open', 'high', 'low', 'close', 'volume'],
  'date_range': '2016-01-04 to 2025-09-12',
  'missing_values': np.int64(0)},
 'AMP.MI': {'rows': 2466,
  'columns': ['open', 'high', 'low', 'close', 'volume'],
  'date_range': '2016-01-04 to 2025-09-12',
  'missing_values': np.int64(0)},
 'MONC.MI': {'rows': 2466,
  'columns': ['open', 'high', 'low', 'close', 'volume'],
  'date_range': '2016-01-04 to 2025-09-12',
  'missing_values': np.int64(0)}}

In [27]:
handler.symbols

['A2A.MI',
 'CEM.MI',
 'BZU.MI',
 'BRE.MI',
 'CPR.MI',
 'IG.MI',
 'IP.MI',
 'AMP.MI',
 'MONC.MI']

In [18]:
handler.get_multiple_symbols_data(handler.symbols)

2025-09-14 17:20:06,660 - algoshort.yfinance_handler.YFinanceDataHandler - INFO - Successfully combined data for symbols: ['A2A.MI', 'CEM.MI', 'BZU.MI', 'FTSEMIB.MI', 'BRE.MI', 'CPR.MI', 'IG.MI', 'IP.MI', 'AMP.MI', 'MONC.MI']
2025-09-14 17:20:06,660 - algoshort.yfinance_handler.YFinanceDataHandler - INFO - Successfully combined data for symbols: ['A2A.MI', 'CEM.MI', 'BZU.MI', 'FTSEMIB.MI', 'BRE.MI', 'CPR.MI', 'IG.MI', 'IP.MI', 'AMP.MI', 'MONC.MI']
2025-09-14 17:20:06,660 - algoshort.yfinance_handler.YFinanceDataHandler - INFO - Successfully combined data for symbols: ['A2A.MI', 'CEM.MI', 'BZU.MI', 'FTSEMIB.MI', 'BRE.MI', 'CPR.MI', 'IG.MI', 'IP.MI', 'AMP.MI', 'MONC.MI']

2025-09-14 17:20:06,660 - algoshort.yfinance_handler.YFinanceDataHandler - INFO - Successfully combined data for symbols: ['A2A.MI', 'CEM.MI', 'BZU.MI', 'FTSEMIB.MI', 'BRE.MI', 'CPR.MI', 'IG.MI', 'IP.MI', 'AMP.MI', 'MONC.MI']
2025-09-14 17:20:06,660 - algoshort.yfinance_handler.YFinanceDataHandler - INFO - Successfully combined data for symbols: ['A2A.MI', 'CEM.MI', 'BZU.MI', 'FTSEMIB.MI', 'BRE.MI', 'CPR.MI', 'IG.MI', 'IP.MI', 'AMP.MI', 'MONC.MI']

,date,A2A.MI,CEM.MI,BZU.MI,FTSEMIB.MI,BRE.MI,CPR.MI,IG.MI,IP.MI,AMP.MI,MONC.MI
0,2016-01-04,0.765548,4.704321,14.552140,20734.0,7.169378,3.598657,NaN,12.969222,7.335205,11.076571
1,2016-01-05,0.774304,4.680360,14.802116,20983.0,7.139950,3.658982,NaN,13.162930,7.391092,10.969809
2,2016-01-06,0.769300,4.556562,14.552140,20422.0,6.927401,3.603297,NaN,12.840084,7.311918,10.845254
3,2016-01-07,0.777431,4.488673,13.945059,20189.0,6.525197,3.519769,NaN,12.203614,7.367805,10.898636
4,2016-01-08,0.772428,4.328933,13.570095,19869.0,6.541546,3.510488,NaN,11.926888,7.153571,10.987605
...,...,...,...,...,...,...,...,...,...,...,...
2461,2025-09-08,2.106000,14.120000,45.160000,41724.0,9.280000,5.978000,7.575,41.500000,15.665000,46.869999
2462,2025-09-09,2.112000,14.080000,45.680000,42008.0,9.220000,5.834000,7.585,40.700001,15.525000,47.549999
2463,2025-09-10,2.117000,13.980000,45.779999,42060.0,9.175000,5.704000,7.610,40.520000,15.265000,48.549999
2464,2025-09-11,2.131000,14.540000,48.880001,42432.0,9.180000,5.660000,7.625,41.340000,15.350000,49.240002
2465,2025-09-12,2.163000,14.340000,48.560001,42566.0,9.195000,5.610000,7.660,41.040001,15.190000,49.360001

In [19]:

row_data = handler.get_combined_data(handler.symbols)
row_data

Price,Date,symbol,open,high,low,close,volume
0,2016-01-04,A2A.MI,0.776806,0.780559,0.763046,0.765548,12496412.0
1,2016-01-04,AMP.MI,7.437665,7.451637,7.283975,7.335205,581549.0
2,2016-01-04,BRE.MI,7.275652,7.303447,7.032040,7.169378,972494.0
3,2016-01-04,BZU.MI,14.596780,14.703911,14.391443,14.552140,867037.0
4,2016-01-04,CEM.MI,4.712308,4.712308,4.632439,4.704321,74102.0
...,...,...,...,...,...,...,...
24437,2025-09-12,CPR.MI,5.660000,5.660000,5.590000,5.610000,6987804.0
24438,2025-09-12,FTSEMIB.MI,42464.000000,42568.000000,42259.000000,42566.000000,314875700.0
24439,2025-09-12,IG.MI,7.610000,7.710000,7.595000,7.660000,1959100.0
24440,2025-09-12,IP.MI,41.279999,41.720001,40.959999,41.040001,214664.0
24441,2025-09-12,MONC.MI,49.160000,50.080002,48.889999,49.360001,910875.0

In [ ]:
from algoshort.ohlcprocessor import OHLCProcessor
processor = OHLCProcessor()
stock_data = processor.calculate_relative_prices(
    stock_data= handler.get_data(symbol='A2A.MI'),
    benchmark_data= handler.get_data(symbol='FTSEMIB.MI')
    )

2025-09-15 12:05:56,005 - INFO - Merging primary data (shape: (2466, 6)) with benchmark data (shape: (2465, 6)).
2025-09-15 12:05:56,011 - INFO - Merge completed. New DataFrame shape: (2466, 7)
2025-09-15 12:05:56,013 - INFO - Rebasing benchmark to 1.0 using the first value: 20734.0
2025-09-15 12:05:56,014 - INFO - Calculating relative OHLC prices...
2025-09-15 12:05:56,018 - INFO - Relative price calculation complete.

In [ ]:
from algoshort.returns import ReturnsCalculator

calculator = ReturnsCalculator(stock_data)
calculator.get_returns(s)

In [54]:
from algoshort.regime_bo import RegimeBO

# Initialize Regime class
regime = RegimeBO(ohlc_stock=stock_data)
regime.compute_regime(regime_type='breakout', window=150, relative=True, inplace=True)

Price,date,open,high,low,close,ropen,rhigh,rlow,rclose,rhi_150,rlo_150,rbo_150
0,2024-09-09,2.000206,2.008815,1.982987,2.002119,2.0002,2.0088,1.9830,2.0021,NaN,NaN,NaN
1,2024-09-10,1.998292,2.015511,1.996379,2.001162,2.0210,2.0384,2.0190,2.0239,NaN,NaN,NaN
2,2024-09-11,2.008815,2.013598,1.978204,2.007858,2.0340,2.0388,2.0030,2.0330,NaN,NaN,NaN
3,2024-09-12,2.021250,2.024120,1.990640,1.991596,2.0295,2.0323,1.9987,1.9997,NaN,NaN,NaN
4,2024-09-13,1.997336,2.004032,1.978204,1.981074,1.9986,2.0053,1.9795,1.9824,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
247,2025-09-02,2.130000,2.132000,2.098000,2.104000,1.7146,1.7162,1.6888,1.6937,2.1691,1.6860,-1.0
248,2025-09-03,2.109000,2.113000,2.071000,2.100000,1.6954,1.6986,1.6648,1.6881,2.1691,1.6648,-1.0
249,2025-09-04,2.098000,2.130000,2.096000,2.116000,1.6783,1.7039,1.6767,1.6927,2.1691,1.6648,-1.0
250,2025-09-05,2.118000,2.134000,2.109000,2.127000,1.7099,1.7228,1.7026,1.7171,2.1691,1.6648,-1.0
251,2025-09-08,2.128000,2.131000,2.106000,2.107000,1.7154,1.7178,1.6977,1.6985,2.1691,1.6648,-1.0

In [55]:
regime.compute_regime(regime_type='turtle', fast_window=20, window=50, relative=True, inplace=True)
stock_data

Price,date,open,high,low,close,ropen,rhigh,rlow,rclose,rhi_150,rlo_150,rbo_150,rhi_50,rlo_50,rhi_20,rlo_20,rbo_50,rbo_20,rtt_5020
0,2024-09-09,2.000206,2.008815,1.982987,2.002119,2.0002,2.0088,1.9830,2.0021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,2024-09-10,1.998292,2.015511,1.996379,2.001162,2.0210,2.0384,2.0190,2.0239,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,2024-09-11,2.008815,2.013598,1.978204,2.007858,2.0340,2.0388,2.0030,2.0330,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,2024-09-12,2.021250,2.024120,1.990640,1.991596,2.0295,2.0323,1.9987,1.9997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,2024-09-13,1.997336,2.004032,1.978204,1.981074,1.9986,2.0053,1.9795,1.9824,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,2025-09-02,2.130000,2.132000,2.098000,2.104000,1.7146,1.7162,1.6888,1.6937,2.1691,1.6860,-1.0,1.9851,1.6860,1.7898,1.6860,-1.0,-1.0,-1
248,2025-09-03,2.109000,2.113000,2.071000,2.100000,1.6954,1.6986,1.6648,1.6881,2.1691,1.6648,-1.0,1.9851,1.6648,1.7831,1.6648,-1.0,-1.0,-1
249,2025-09-04,2.098000,2.130000,2.096000,2.116000,1.6783,1.7039,1.6767,1.6927,2.1691,1.6648,-1.0,1.9851,1.6648,1.7528,1.6648,-1.0,-1.0,-1
250,2025-09-05,2.118000,2.134000,2.109000,2.127000,1.7099,1.7228,1.7026,1.7171,2.1691,1.6648,-1.0,1.9851,1.6648,1.7487,1.6648,-1.0,-1.0,-1
251,2025-09-08,2.128000,2.131000,2.106000,2.107000,1.7154,1.7178,1.6977,1.6985,2.1691,1.6648,-1.0,1.9851,1.6648,1.7465,1.6648,-1.0,-1.0,-1

In [56]:
# from algoshort.regime_bo import RegimeBO

# # Initialize Regime class
# regime = RegimeBO(ohlc_stock=stock_data)

# # Absolute breakout regime (window=5)
# abs_breakout = regime.signal_bo(20)
# abs_breakout

In [57]:
# Relative breakout regime (window=5)
# rel_breakout = regime.signal_bo(window=5, relative=True)
# rel_breakout

In [58]:
# Absolute turtle trader regime
# abs_tt = regime.signal_tt(slow_window=50, fast_window=20)
# abs_tt

In [59]:
# Relative turtle trader regime
# rel_tt = regime.signal_tt(slow_window=50, fast_window=20, relative=True)
# rel_tt

In [60]:
from algoshort.regime_ma import TripleMACrossoverRegime

regime = TripleMACrossoverRegime(ohlc_stock=stock_data)

In [61]:
regime.compute_ma_regime(ma_type='sma', short_window=50, medium_window=100, long_window=150, inplace=True, relative=True)
regime.compute_ma_regime(ma_type='ema', short_window=50, medium_window=100, long_window=150, inplace=True, relative=True)
stock_data

Price,date,open,high,low,close,ropen,rhigh,rlow,rclose,rhi_150,...,rsma_50100,rsma_long_150,rsma_100150,rsma_50100150,rema_short_50,rema_medium_100,rema_50100,rema_long_150,rema_100150,rema_50100150
0,2024-09-09,2.000206,2.008815,1.982987,2.002119,2.0002,2.0088,1.9830,2.0021,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-09-10,1.998292,2.015511,1.996379,2.001162,2.0210,2.0384,2.0190,2.0239,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2024-09-11,2.008815,2.013598,1.978204,2.007858,2.0340,2.0388,2.0030,2.0330,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2024-09-12,2.021250,2.024120,1.990640,1.991596,2.0295,2.0323,1.9987,1.9997,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2024-09-13,1.997336,2.004032,1.978204,1.981074,1.9986,2.0053,1.9795,1.9824,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,2025-09-02,2.130000,2.132000,2.098000,2.104000,1.7146,1.7162,1.6888,1.6937,2.1691,...,-1.0,1.853201,-1.0,1.0,1.776955,1.823331,-1.0,1.851363,-1.0,1.0
248,2025-09-03,2.109000,2.113000,2.071000,2.100000,1.6954,1.6986,1.6648,1.6881,2.1691,...,-1.0,1.851066,-1.0,1.0,1.773470,1.820653,-1.0,1.849201,-1.0,1.0
249,2025-09-04,2.098000,2.130000,2.096000,2.116000,1.6783,1.7039,1.6767,1.6927,2.1691,...,-1.0,1.848930,-1.0,1.0,1.770303,1.818119,-1.0,1.847128,-1.0,1.0
250,2025-09-05,2.118000,2.134000,2.109000,2.127000,1.7099,1.7228,1.7026,1.7171,2.1691,...,-1.0,1.846887,-1.0,1.0,1.768216,1.816119,-1.0,1.845406,-1.0,1.0
251,2025-09-08,2.128000,2.131000,2.106000,2.107000,1.7154,1.7178,1.6977,1.6985,2.1691,...,-1.0,1.844903,-1.0,1.0,1.765482,1.813790,-1.0,1.843460,-1.0,1.0

In [62]:
# Absolute SMA Crossover
# df_sma = regime.signal_ma(ma_type='sma', short_window=5, medium_window=10, long_window=20)
# df_sma

In [63]:
# Relative SMA Crossover
# df_sma = regime.signal_ma(ma_type='sma', short_window=5, medium_window=10, long_window=20, relative=True)
# df_sma

In [64]:
# Absolute EMA Crossover
# df_ema = regime.signal_ma(ma_type='ema', short_window=5, medium_window=10, long_window=20)
# df_ema

In [65]:
# Relative EMA Crossover
# df_ema = regime.signal_ma(ma_type='ema', short_window=5, medium_window=10, long_window=20, relative=True)
# df_ema

In [66]:
# df = stock_data.copy()
# regime.compute_ma_regime(ma_type='sma', short_window=5, medium_window=10, long_window=20, 
#                         relative=False, inplace=True)

In [67]:
# data = regime.compute_ma_regime(ma_type='ema', short_window=5, medium_window=10, long_window=20, 
#                         relative=False, inplace=True)
# data

In [68]:
from algoshort.returns import ReturnsCalculator
returns_calc = ReturnsCalculator(ohlc_stock=stock_data)
stock_data = returns_calc.get_returns(df=stock_data, signal='rsma_50100150')
stock_data = returns_calc.get_returns(df=stock_data, signal='rema_50100150')
stock_data = returns_calc.get_returns(df=stock_data, signal='rtt_5020')
stock_data = returns_calc.get_returns(df=stock_data, signal='rbo_150')
stock_data

Price,date,open,high,low,close,ropen,rhigh,rlow,rclose,rhi_150,...,rtt_5020_returns,rtt_5020_log_returns,rtt_5020_cumul,rbo_150_chg1D,rbo_150_chg1D_fx,rbo_150_PL_cum,rbo_150_PL_cum_fx,rbo_150_returns,rbo_150_log_returns,rbo_150_cumul
0,2024-09-09,2.000206,2.008815,1.982987,2.002119,2.0002,2.0088,1.9830,2.0021,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-09-10,1.998292,2.015511,1.996379,2.001162,2.0210,2.0384,2.0190,2.0239,NaN,...,-0.000000,-0.000000,0.000000,-0.000,-0.000,0.000000,0.000000,-0.000000,-0.000000,0.000000
2,2024-09-11,2.008815,2.013598,1.978204,2.007858,2.0340,2.0388,2.0030,2.0330,NaN,...,0.000000,0.000000,0.000000,0.000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000
3,2024-09-12,2.021250,2.024120,1.990640,1.991596,2.0295,2.0323,1.9987,1.9997,NaN,...,-0.000000,-0.000000,0.000000,-0.000,-0.000,0.000000,0.000000,-0.000000,-0.000000,0.000000
4,2024-09-13,1.997336,2.004032,1.978204,1.981074,1.9986,2.0053,1.9795,1.9824,NaN,...,-0.000000,-0.000000,0.000000,-0.000,-0.000,0.000000,0.000000,-0.000000,-0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,2025-09-02,2.130000,2.132000,2.098000,2.104000,1.7146,1.7162,1.6888,1.6937,2.1691,...,0.015903,0.016030,0.050408,0.034,0.034,-0.026312,-0.026312,0.015903,0.016030,-0.012506
248,2025-09-03,2.109000,2.113000,2.071000,2.100000,1.6954,1.6986,1.6648,1.6881,2.1691,...,0.001901,0.001903,0.052409,0.004,0.004,-0.022312,-0.022312,0.001901,0.001903,-0.010625
249,2025-09-04,2.098000,2.130000,2.096000,2.116000,1.6783,1.7039,1.6767,1.6927,2.1691,...,-0.007619,-0.007590,0.044451,-0.016,-0.016,-0.038312,-0.038312,-0.007619,-0.007590,-0.018106
250,2025-09-05,2.118000,2.134000,2.109000,2.127000,1.7099,1.7228,1.7026,1.7171,2.1691,...,-0.005199,-0.005185,0.039049,-0.011,-0.011,-0.049312,-0.049312,-0.005199,-0.005185,-0.023184
251,2025-09-08,2.128000,2.131000,2.106000,2.107000,1.7154,1.7178,1.6977,1.6985,2.1691,...,0.009403,0.009447,0.048912,0.020,0.020,-0.029312,-0.029312,0.009403,0.009447,-0.013912

In [71]:
from algoshort.strategy_metrics import StrategyMetrics
strategy_metrics = StrategyMetrics(stock_data)

In [74]:
stock_data.columns

Index(['date', 'open', 'high', 'low', 'close', 'ropen', 'rhigh', 'rlow',
       'rclose', 'rhi_150', 'rlo_150', 'rbo_150', 'rhi_50', 'rlo_50', 'rhi_20',
       'rlo_20', 'rbo_50', 'rbo_20', 'rtt_5020', 'rsma_short_50',
       'rsma_medium_100', 'rsma_50100', 'rsma_long_150', 'rsma_100150',
       'rsma_50100150', 'rema_short_50', 'rema_medium_100', 'rema_50100',
       'rema_long_150', 'rema_100150', 'rema_50100150', 'rsma_50100150_chg1D',
       'rsma_50100150_chg1D_fx', 'rsma_50100150_PL_cum',
       'rsma_50100150_PL_cum_fx', 'rsma_50100150_returns',
       'rsma_50100150_log_returns', 'rsma_50100150_cumul',
       'rema_50100150_chg1D', 'rema_50100150_chg1D_fx', 'rema_50100150_PL_cum',
       'rema_50100150_PL_cum_fx', 'rema_50100150_returns',
       'rema_50100150_log_returns', 'rema_50100150_cumul', 'rtt_5020_chg1D',
       'rtt_5020_chg1D_fx', 'rtt_5020_PL_cum', 'rtt_5020_PL_cum_fx',
       'rtt_5020_returns', 'rtt_5020_log_returns', 'rtt_5020_cumul',
       'rbo_150_chg1D', 'rbo_150_chg1D_fx', 'rbo_150_PL_cum',
       'rbo_150_PL_cum_fx', 'rbo_150_returns', 'rbo_150_log_returns',
       'rbo_150_cumul'],
      dtype='object', name='Price')

In [78]:
# Compute risk metrics
stock_data = strategy_metrics.get_risk_metrics(
    df=stock_data,
    signal='rsma_50100150',
    window=252,
    percentile=0.05,
    limit=5
)

# Compute risk metrics
stock_data = strategy_metrics.get_risk_metrics(
    df=stock_data,
    signal='rema_50100150',
    window=252,
    percentile=0.05,
    limit=5
)

# Compute risk metrics
stock_data = strategy_metrics.get_risk_metrics(
    df=stock_data,
    signal='rtt_5020',
    window=252,
    percentile=0.05,
    limit=5
)

# Compute risk metrics
stock_data = strategy_metrics.get_risk_metrics(
    df=stock_data,
    signal='rbo_150',
    window=252,
    percentile=0.05,
    limit=5
)

In [79]:
from algoshort.position_sizing import PositionSizing
position_sizing = PositionSizing(stock_data)

In [82]:
position_sizing.get_risk_appetite(stock_data, price_col='close', inplace=True)

Price,date,open,high,low,close,ropen,rhigh,rlow,rclose,rhi_150,...,rbo_150_pr,rbo_150_tr_roll,rbo_150_tr,peak_eqty,constant_risk,convex_risk,concave_risk,tolerance,drawdown,close_risk_appetite
0,2024-09-09,2.000206,2.008815,1.982987,2.002119,2.0002,2.0088,1.9830,2.0021,NaN,...,NaN,NaN,NaN,2.002119,0.010011,0.015016,0.015016,1.801907,0.000000,-0.007500
1,2024-09-10,1.998292,2.015511,1.996379,2.001162,2.0210,2.0384,2.0190,2.0239,NaN,...,NaN,NaN,NaN,2.002119,0.010006,0.014930,0.015006,1.801907,-0.000478,-0.007486
2,2024-09-11,2.008815,2.013598,1.978204,2.007858,2.0340,2.0388,2.0030,2.0330,NaN,...,NaN,NaN,NaN,2.007858,0.010039,0.015014,0.015054,1.807072,0.000000,-0.007492
3,2024-09-12,2.021250,2.024120,1.990640,1.991596,2.0295,2.0323,1.9987,1.9997,NaN,...,NaN,NaN,NaN,2.007858,0.009958,0.014055,0.014942,1.807072,-0.008099,-0.007327
4,2024-09-13,1.997336,2.004032,1.978204,1.981074,1.9986,2.0053,1.9795,1.9824,NaN,...,NaN,NaN,NaN,2.007858,0.009905,0.013030,0.014810,1.807072,-0.013340,-0.007138
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,2025-09-02,2.130000,2.132000,2.098000,2.104000,1.7146,1.7162,1.6888,1.6937,2.1691,...,0.960768,NaN,0.0,2.361000,0.010520,0.005914,0.011377,2.124900,-0.108852,-0.002999
248,2025-09-03,2.109000,2.113000,2.071000,2.100000,1.6954,1.6986,1.6648,1.6881,2.1691,...,0.966701,NaN,0.0,2.361000,0.010500,0.005906,0.010685,2.124900,-0.110546,-0.002833
249,2025-09-04,2.098000,2.130000,2.096000,2.116000,1.6783,1.7039,1.6767,1.6927,2.1691,...,0.944355,NaN,0.0,2.361000,0.010580,0.005904,0.010081,2.124900,-0.103770,-0.002722
250,2025-09-05,2.118000,2.134000,2.109000,2.127000,1.7099,1.7228,1.7026,1.7171,2.1691,...,0.929675,NaN,0.0,2.361000,0.010635,0.005903,0.009671,2.124900,-0.099111,-0.002663
251,2025-09-08,2.128000,2.131000,2.106000,2.107000,1.7154,1.7178,1.6977,1.6985,2.1691,...,0.957999,NaN,0.0,2.361000,0.010535,0.005903,0.009194,2.124900,-0.107582,-0.002608

In [83]:
position_sizing.get_equity_risk(stock_data, inplace=True, tolerance=-0.1,
    mn=-0.0025,
    mx=-0.0075,
    span=5)

Price,date,open,high,low,close,ropen,rhigh,rlow,rclose,rhi_150,...,rbo_150_pr,rbo_150_tr_roll,rbo_150_tr,peak_eqty,constant_risk,convex_risk,concave_risk,tolerance,drawdown,close_risk_appetite
0,2024-09-09,2.000206,2.008815,1.982987,2.002119,2.0002,2.0088,1.9830,2.0021,NaN,...,NaN,NaN,NaN,2.002119,0.010011,0.015016,0.015016,1.801907,0.000000,-0.007500
1,2024-09-10,1.998292,2.015511,1.996379,2.001162,2.0210,2.0384,2.0190,2.0239,NaN,...,NaN,NaN,NaN,2.002119,0.010006,0.014930,0.015006,1.801907,-0.000478,-0.007486
2,2024-09-11,2.008815,2.013598,1.978204,2.007858,2.0340,2.0388,2.0030,2.0330,NaN,...,NaN,NaN,NaN,2.007858,0.010039,0.015014,0.015054,1.807072,0.000000,-0.007492
3,2024-09-12,2.021250,2.024120,1.990640,1.991596,2.0295,2.0323,1.9987,1.9997,NaN,...,NaN,NaN,NaN,2.007858,0.009958,0.014055,0.014942,1.807072,-0.008099,-0.007327
4,2024-09-13,1.997336,2.004032,1.978204,1.981074,1.9986,2.0053,1.9795,1.9824,NaN,...,NaN,NaN,NaN,2.007858,0.009905,0.013030,0.014810,1.807072,-0.013340,-0.007138
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,2025-09-02,2.130000,2.132000,2.098000,2.104000,1.7146,1.7162,1.6888,1.6937,2.1691,...,0.960768,NaN,0.0,2.361000,0.010520,0.005914,0.011377,2.124900,-0.108852,-0.002999
248,2025-09-03,2.109000,2.113000,2.071000,2.100000,1.6954,1.6986,1.6648,1.6881,2.1691,...,0.966701,NaN,0.0,2.361000,0.010500,0.005906,0.010685,2.124900,-0.110546,-0.002833
249,2025-09-04,2.098000,2.130000,2.096000,2.116000,1.6783,1.7039,1.6767,1.6927,2.1691,...,0.944355,NaN,0.0,2.361000,0.010580,0.005904,0.010081,2.124900,-0.103770,-0.002722
250,2025-09-05,2.118000,2.134000,2.109000,2.127000,1.7099,1.7228,1.7026,1.7171,2.1691,...,0.929675,NaN,0.0,2.361000,0.010635,0.005903,0.009671,2.124900,-0.099111,-0.002663
251,2025-09-08,2.128000,2.131000,2.106000,2.107000,1.7154,1.7178,1.6977,1.6985,2.1691,...,0.957999,NaN,0.0,2.361000,0.010535,0.005903,0.009194,2.124900,-0.107582,-0.002608

In [89]:
position_sizing.calculate_position_size(
    df=stock_data,
    signal='rtt_5020',
    price_col='close',
    equity_col = 'close',
    stop_loss_col='low',
    inplace=True
)

Price,date,open,high,low,close,ropen,rhigh,rlow,rclose,rhi_150,...,drawdown,close_risk_appetite,rtt_5020_peak_equity,rtt_5020_risk_appetite,rtt_5020_risk_budget,rtt_5020_risk_unit,rtt_5020_shares,rtt_5020_equity_risk_shares,rtt_5020_target_price,rtt_5020_partial_exit
0,2024-09-09,2.000206,2.008815,1.982987,2.002119,2.0002,2.0088,1.9830,2.0021,NaN,...,0.000000,-0.007500,2.002119,-0.007500,-0.015016,0.019132,-100.0,NaN,2.040382,-50.0
1,2024-09-10,1.998292,2.015511,1.996379,2.001162,2.0210,2.0384,2.0190,2.0239,NaN,...,-0.000478,-0.007486,2.002119,-0.007486,-0.014987,0.004783,-100.0,NaN,2.010728,-50.0
2,2024-09-11,2.008815,2.013598,1.978204,2.007858,2.0340,2.0388,2.0030,2.0330,NaN,...,0.000000,-0.007492,2.007858,-0.007492,-0.015044,0.029654,-100.0,NaN,2.067166,-50.0
3,2024-09-12,2.021250,2.024120,1.990640,1.991596,2.0295,2.0323,1.9987,1.9997,NaN,...,-0.008099,-0.007327,2.007858,-0.007327,-0.014712,0.000957,-100.0,NaN,1.993509,-50.0
4,2024-09-13,1.997336,2.004032,1.978204,1.981074,1.9986,2.0053,1.9795,1.9824,NaN,...,-0.013340,-0.007138,2.007858,-0.007138,-0.014331,0.002870,-100.0,NaN,1.986813,-50.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,2025-09-02,2.130000,2.132000,2.098000,2.104000,1.7146,1.7162,1.6888,1.6937,2.1691,...,-0.108852,-0.002999,2.361000,-0.002999,-0.007080,0.006000,-100.0,NaN,2.116000,-50.0
248,2025-09-03,2.109000,2.113000,2.071000,2.100000,1.6954,1.6986,1.6648,1.6881,2.1691,...,-0.110546,-0.002833,2.361000,-0.002833,-0.006688,0.029000,-100.0,NaN,2.158000,-50.0
249,2025-09-04,2.098000,2.130000,2.096000,2.116000,1.6783,1.7039,1.6767,1.6927,2.1691,...,-0.103770,-0.002722,2.361000,-0.002722,-0.006426,0.020000,-100.0,NaN,2.156000,-50.0
250,2025-09-05,2.118000,2.134000,2.109000,2.127000,1.7099,1.7228,1.7026,1.7171,2.1691,...,-0.099111,-0.002663,2.361000,-0.002663,-0.006286,0.018000,-100.0,NaN,2.163000,-50.0
251,2025-09-08,2.128000,2.131000,2.106000,2.107000,1.7154,1.7178,1.6977,1.6985,2.1691,...,-0.107582,-0.002608,2.361000,-0.002608,-0.006158,0.001000,-100.0,NaN,2.109000,-50.0

In [90]:
position_sizing.calculate_position_size(
    df=stock_data,
    signal='rbo_150',
    price_col='close',
    equity_col = 'close',
    stop_loss_col='low',
    inplace=True
)

Price,date,open,high,low,close,ropen,rhigh,rlow,rclose,rhi_150,...,rtt_5020_target_price,rtt_5020_partial_exit,rbo_150_peak_equity,rbo_150_risk_appetite,rbo_150_risk_budget,rbo_150_risk_unit,rbo_150_shares,rbo_150_equity_risk_shares,rbo_150_target_price,rbo_150_partial_exit
0,2024-09-09,2.000206,2.008815,1.982987,2.002119,2.0002,2.0088,1.9830,2.0021,NaN,...,2.040382,-50.0,2.002119,-0.007500,-0.015016,0.019132,-100.0,NaN,2.040382,-50.0
1,2024-09-10,1.998292,2.015511,1.996379,2.001162,2.0210,2.0384,2.0190,2.0239,NaN,...,2.010728,-50.0,2.002119,-0.007486,-0.014987,0.004783,-100.0,NaN,2.010728,-50.0
2,2024-09-11,2.008815,2.013598,1.978204,2.007858,2.0340,2.0388,2.0030,2.0330,NaN,...,2.067166,-50.0,2.007858,-0.007492,-0.015044,0.029654,-100.0,NaN,2.067166,-50.0
3,2024-09-12,2.021250,2.024120,1.990640,1.991596,2.0295,2.0323,1.9987,1.9997,NaN,...,1.993509,-50.0,2.007858,-0.007327,-0.014712,0.000957,-100.0,NaN,1.993509,-50.0
4,2024-09-13,1.997336,2.004032,1.978204,1.981074,1.9986,2.0053,1.9795,1.9824,NaN,...,1.986813,-50.0,2.007858,-0.007138,-0.014331,0.002870,-100.0,NaN,1.986813,-50.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,2025-09-02,2.130000,2.132000,2.098000,2.104000,1.7146,1.7162,1.6888,1.6937,2.1691,...,2.116000,-50.0,2.361000,-0.002999,-0.007080,0.006000,-100.0,NaN,2.116000,-50.0
248,2025-09-03,2.109000,2.113000,2.071000,2.100000,1.6954,1.6986,1.6648,1.6881,2.1691,...,2.158000,-50.0,2.361000,-0.002833,-0.006688,0.029000,-100.0,NaN,2.158000,-50.0
249,2025-09-04,2.098000,2.130000,2.096000,2.116000,1.6783,1.7039,1.6767,1.6927,2.1691,...,2.156000,-50.0,2.361000,-0.002722,-0.006426,0.020000,-100.0,NaN,2.156000,-50.0
250,2025-09-05,2.118000,2.134000,2.109000,2.127000,1.7099,1.7228,1.7026,1.7171,2.1691,...,2.163000,-50.0,2.361000,-0.002663,-0.006286,0.018000,-100.0,NaN,2.163000,-50.0
251,2025-09-08,2.128000,2.131000,2.106000,2.107000,1.7154,1.7178,1.6977,1.6985,2.1691,...,2.109000,-50.0,2.361000,-0.002608,-0.006158,0.001000,-100.0,NaN,2.109000,-50.0