In [35]:
from algoshort.yfinance_handler import YFinanceDataHandler

# Initialize with custom chunk size
handler = YFinanceDataHandler(cache_dir="./data")

# Downloads 100 symbols in 4 chunks of 25 each
symbols = ['A2A.MI']
handler.download_data(symbols, period='1d')

2025-09-10 07:35:07,799 - INFO - Loaded A2A.MI from cache
2025-09-10 07:35:07,803 - INFO - Cache hits: 1, Downloads needed: 0

{'A2A.MI':                             open   high    low  close   volume  dividends  \
 Date
 2025-09-08 00:00:00+02:00  2.128  2.131  2.106  2.107  2161200        0.0

                            stock splits
 Date
 2025-09-08 00:00:00+02:00           0.0  }

In [36]:
symbols = ['A2A.MI', 'FTSEMIB.MI']
handler.download_data(symbols, period='1y')

2025-09-10 07:35:07,849 - INFO - Loaded A2A.MI from cache
2025-09-10 07:35:07,860 - INFO - Loaded FTSEMIB.MI from cache
2025-09-10 07:35:07,860 - INFO - Cache hits: 2, Downloads needed: 0

{'A2A.MI': Price           open      high       low     close   volume
 Date
 2024-09-09  2.000206  2.008815  1.982987  2.002119  7151824
 2024-09-10  1.998292  2.015511  1.996379  2.001162  6839924
 2024-09-11  2.008815  2.013598  1.978204  2.007858  7776934
 2024-09-12  2.021250  2.024120  1.990640  1.991596  6414518
 2024-09-13  1.997336  2.004032  1.978204  1.981074  5649398
 ...              ...       ...       ...       ...      ...
 2025-09-02  2.130000  2.132000  2.098000  2.104000  7871579
 2025-09-03  2.109000  2.113000  2.071000  2.100000  9392203
 2025-09-04  2.098000  2.130000  2.096000  2.116000  6425903
 2025-09-05  2.118000  2.134000  2.109000  2.127000  5181825
 2025-09-08  2.128000  2.131000  2.106000  2.107000  2161200

 [252 rows x 5 columns],
 'FTSEMIB.MI': Price               open          high           low         close     volume
 Date
 2024-09-09  33428.000000  33699.000000  33423.000000  33590.000000  289274600
 2024-09-10  33547.000000  33732.000000  33161.000000  33213.000000  423619900
 2024-09-11  33200.000000  33415.000000  32974.000000  33174.000000  338737900
 2024-09-12  33538.000000  33600.000000  33171.000000  33454.000000  764202000
 2024-09-13  33496.000000  33680.000000  33446.000000  33568.000000  488164200
 ...                  ...           ...           ...           ...        ...
 2025-09-02  42451.000000  42501.000000  41706.000000  41728.000000  406293600
 2025-09-03  41979.000000  42040.000000  41691.000000  41785.000000  347036200
 2025-09-04  41843.000000  42089.000000  41716.000000  41990.000000  471872200
 2025-09-05  42157.000000  42203.000000  41468.000000  41608.000000  354227700
 2025-09-08  41815.179688  41879.140625  41628.320312  41668.808594          0

 [252 rows x 5 columns]}

In [37]:
handler.list_available_data()

{'A2A.MI': {'rows': 252,
  'columns': ['open', 'high', 'low', 'close', 'volume'],
  'date_range': '2024-09-09 00:00:00 to 2025-09-08 00:00:00',
  'missing_values': np.int64(0)},
 'FTSEMIB.MI': {'rows': 252,
  'columns': ['open', 'high', 'low', 'close', 'volume'],
  'date_range': '2024-09-09 00:00:00 to 2025-09-08 00:00:00',
  'missing_values': np.int64(0)}}

In [38]:
data = handler.get_data('A2A.MI')
data

Price           open      high       low     close   volume
Date
2024-09-09  2.000206  2.008815  1.982987  2.002119  7151824
2024-09-10  1.998292  2.015511  1.996379  2.001162  6839924
2024-09-11  2.008815  2.013598  1.978204  2.007858  7776934
2024-09-12  2.021250  2.024120  1.990640  1.991596  6414518
2024-09-13  1.997336  2.004032  1.978204  1.981074  5649398
...              ...       ...       ...       ...      ...
2025-09-02  2.130000  2.132000  2.098000  2.104000  7871579
2025-09-03  2.109000  2.113000  2.071000  2.100000  9392203
2025-09-04  2.098000  2.130000  2.096000  2.116000  6425903
2025-09-05  2.118000  2.134000  2.109000  2.127000  5181825
2025-09-08  2.128000  2.131000  2.106000  2.107000  2161200

[252 rows x 5 columns]

In [39]:
data = handler.get_data('FTSEMIB.MI')
data

Price               open          high           low         close     volume
Date
2024-09-09  33428.000000  33699.000000  33423.000000  33590.000000  289274600
2024-09-10  33547.000000  33732.000000  33161.000000  33213.000000  423619900
2024-09-11  33200.000000  33415.000000  32974.000000  33174.000000  338737900
2024-09-12  33538.000000  33600.000000  33171.000000  33454.000000  764202000
2024-09-13  33496.000000  33680.000000  33446.000000  33568.000000  488164200
...                  ...           ...           ...           ...        ...
2025-09-02  42451.000000  42501.000000  41706.000000  41728.000000  406293600
2025-09-03  41979.000000  42040.000000  41691.000000  41785.000000  347036200
2025-09-04  41843.000000  42089.000000  41716.000000  41990.000000  471872200
2025-09-05  42157.000000  42203.000000  41468.000000  41608.000000  354227700
2025-09-08  41815.179688  41879.140625  41628.320312  41668.808594          0

[252 rows x 5 columns]

In [40]:
handler.get_ohlc_data('A2A.MI')

Price       date      open      high       low     close
0     2024-09-09  2.000206  2.008815  1.982987  2.002119
1     2024-09-10  1.998292  2.015511  1.996379  2.001162
2     2024-09-11  2.008815  2.013598  1.978204  2.007858
3     2024-09-12  2.021250  2.024120  1.990640  1.991596
4     2024-09-13  1.997336  2.004032  1.978204  1.981074
..           ...       ...       ...       ...       ...
247   2025-09-02  2.130000  2.132000  2.098000  2.104000
248   2025-09-03  2.109000  2.113000  2.071000  2.100000
249   2025-09-04  2.098000  2.130000  2.096000  2.116000
250   2025-09-05  2.118000  2.134000  2.109000  2.127000
251   2025-09-08  2.128000  2.131000  2.106000  2.107000

[252 rows x 5 columns]

In [41]:
handler.get_ohlc_data('FTSEMIB.MI')

Price       date          open          high           low         close
0     2024-09-09  33428.000000  33699.000000  33423.000000  33590.000000
1     2024-09-10  33547.000000  33732.000000  33161.000000  33213.000000
2     2024-09-11  33200.000000  33415.000000  32974.000000  33174.000000
3     2024-09-12  33538.000000  33600.000000  33171.000000  33454.000000
4     2024-09-13  33496.000000  33680.000000  33446.000000  33568.000000
..           ...           ...           ...           ...           ...
247   2025-09-02  42451.000000  42501.000000  41706.000000  41728.000000
248   2025-09-03  41979.000000  42040.000000  41691.000000  41785.000000
249   2025-09-04  41843.000000  42089.000000  41716.000000  41990.000000
250   2025-09-05  42157.000000  42203.000000  41468.000000  41608.000000
251   2025-09-08  41815.179688  41879.140625  41628.320312  41668.808594

[252 rows x 5 columns]

In [42]:
handler.calculate_relative_prices(symbol='A2A.MI', benchmark_symbol='FTSEMIB.MI')

Price,date,open,high,low,close,ropen,rhigh,rlow,rclose
0,2024-09-09,2.000206,2.008815,1.982987,2.002119,2.0002,2.0088,1.9830,2.0021
1,2024-09-10,1.998292,2.015511,1.996379,2.001162,2.0210,2.0384,2.0190,2.0239
2,2024-09-11,2.008815,2.013598,1.978204,2.007858,2.0340,2.0388,2.0030,2.0330
3,2024-09-12,2.021250,2.024120,1.990640,1.991596,2.0295,2.0323,1.9987,1.9997
4,2024-09-13,1.997336,2.004032,1.978204,1.981074,1.9986,2.0053,1.9795,1.9824
...,...,...,...,...,...,...,...,...,...
247,2025-09-02,2.130000,2.132000,2.098000,2.104000,1.7146,1.7162,1.6888,1.6937
248,2025-09-03,2.109000,2.113000,2.071000,2.100000,1.6954,1.6986,1.6648,1.6881
249,2025-09-04,2.098000,2.130000,2.096000,2.116000,1.6783,1.7039,1.6767,1.6927
250,2025-09-05,2.118000,2.134000,2.109000,2.127000,1.7099,1.7228,1.7026,1.7171
251,2025-09-08,2.128000,2.131000,2.106000,2.107000,1.7154,1.7178,1.6977,1.6985

In [43]:
# Download multiple tech stocks
symbols = ['CEM.MI', 'BZU.MI']
handler.download_data(symbols, period='1y')

2025-09-10 07:35:08,008 - INFO - Loaded CEM.MI from cache
2025-09-10 07:35:08,010 - INFO - Loaded BZU.MI from cache
2025-09-10 07:35:08,010 - INFO - Cache hits: 2, Downloads needed: 0

{'CEM.MI': Price            open       high        low      close  volume
 Date
 2024-09-09   9.334115   9.343919   9.255676   9.294895   17962
 2024-09-10   9.334114   9.334114   9.167434   9.206653   36165
 2024-09-11   9.285091   9.324310   9.030168   9.069386   38461
 2024-09-12   9.118410   9.226262   9.069386   9.147824   32898
 2024-09-13   9.226262   9.226262   9.118410   9.128215   23302
 ...               ...        ...        ...        ...     ...
 2025-09-02  14.080000  14.120000  13.540000  13.540000   54554
 2025-09-03  13.500000  13.960000  13.500000  13.720000   73405
 2025-09-04  13.600000  14.220000  13.600000  14.100000   66795
 2025-09-05  14.140000  14.140000  13.940000  14.020000   40872
 2025-09-08  13.900000  14.260000  13.900000  14.060000   13150

 [252 rows x 5 columns],
 'BZU.MI': Price            open       high        low      close  volume
 Date
 2024-09-09  34.057677  34.589825  34.037967  34.313896  250216
 2024-09-10  34.175931  34.530699  33.643779  34.018257  205277
 2024-09-11  34.018257  34.353315  33.052502  33.052502  279810
 2024-09-12  33.170754  33.840870  33.170754  33.663486  204642
 2024-09-13  33.624067  34.333603  33.624067  34.156219  167427
 ...               ...        ...        ...        ...     ...
 2025-09-02  44.700001  45.259998  43.980000  44.119999  716498
 2025-09-03  44.400002  45.099998  43.380001  43.680000  433536
 2025-09-04  43.480000  44.660000  43.180000  44.560001  399567
 2025-09-05  44.720001  44.919998  44.119999  44.240002  253959
 2025-09-08  44.419998  45.259998  44.400002  45.139999  135140

 [252 rows x 5 columns]}

In [44]:
# Get combined closing prices
combined_closes = handler.get_multiple_symbols_data(symbols, 'close')

In [45]:
combined_closes

          date     CEM.MI     BZU.MI
0   2024-09-09   9.294895  34.313896
1   2024-09-10   9.206653  34.018257
2   2024-09-11   9.069386  33.052502
3   2024-09-12   9.147824  33.663486
4   2024-09-13   9.128215  34.156219
..         ...        ...        ...
247 2025-09-02  13.540000  44.119999
248 2025-09-03  13.720000  43.680000
249 2025-09-04  14.100000  44.560001
250 2025-09-05  14.020000  44.240002
251 2025-09-08  14.060000  45.139999

[252 rows x 3 columns]

In [46]:
# Get combined closing prices
combined_closes = handler.get_multiple_symbols_data(symbols)
combined_closes

          date     CEM.MI     BZU.MI
0   2024-09-09   9.294895  34.313896
1   2024-09-10   9.206653  34.018257
2   2024-09-11   9.069386  33.052502
3   2024-09-12   9.147824  33.663486
4   2024-09-13   9.128215  34.156219
..         ...        ...        ...
247 2025-09-02  13.540000  44.119999
248 2025-09-03  13.720000  43.680000
249 2025-09-04  14.100000  44.560001
250 2025-09-05  14.020000  44.240002
251 2025-09-08  14.060000  45.139999

[252 rows x 3 columns]

In [47]:
handler.list_available_data()

{'A2A.MI': {'rows': 252,
  'columns': ['open', 'high', 'low', 'close', 'volume'],
  'date_range': '2024-09-09 00:00:00 to 2025-09-08 00:00:00',
  'missing_values': np.int64(0)},
 'FTSEMIB.MI': {'rows': 252,
  'columns': ['open', 'high', 'low', 'close', 'volume'],
  'date_range': '2024-09-09 00:00:00 to 2025-09-08 00:00:00',
  'missing_values': np.int64(0)},
 'CEM.MI': {'rows': 252,
  'columns': ['open', 'high', 'low', 'close', 'volume'],
  'date_range': '2024-09-09 00:00:00 to 2025-09-08 00:00:00',
  'missing_values': np.int64(0)},
 'BZU.MI': {'rows': 252,
  'columns': ['open', 'high', 'low', 'close', 'volume'],
  'date_range': '2024-09-09 00:00:00 to 2025-09-08 00:00:00',
  'missing_values': np.int64(0)}}

In [48]:
handler.save_data(filepath='./data/ptf.xlsx', symbols=['A2A.MI'], format='excel')

2025-09-10 07:35:08,131 - INFO - Data saved to ./data/ptf.xlsx

In [49]:
handler.data

{'A2A.MI': Price           open      high       low     close   volume
 Date
 2024-09-09  2.000206  2.008815  1.982987  2.002119  7151824
 2024-09-10  1.998292  2.015511  1.996379  2.001162  6839924
 2024-09-11  2.008815  2.013598  1.978204  2.007858  7776934
 2024-09-12  2.021250  2.024120  1.990640  1.991596  6414518
 2024-09-13  1.997336  2.004032  1.978204  1.981074  5649398
 ...              ...       ...       ...       ...      ...
 2025-09-02  2.130000  2.132000  2.098000  2.104000  7871579
 2025-09-03  2.109000  2.113000  2.071000  2.100000  9392203
 2025-09-04  2.098000  2.130000  2.096000  2.116000  6425903
 2025-09-05  2.118000  2.134000  2.109000  2.127000  5181825
 2025-09-08  2.128000  2.131000  2.106000  2.107000  2161200

 [252 rows x 5 columns],
 'FTSEMIB.MI': Price               open          high           low         close     volume
 Date
 2024-09-09  33428.000000  33699.000000  33423.000000  33590.000000  289274600
 2024-09-10  33547.000000  33732.000000  33161.000000  33213.000000  423619900
 2024-09-11  33200.000000  33415.000000  32974.000000  33174.000000  338737900
 2024-09-12  33538.000000  33600.000000  33171.000000  33454.000000  764202000
 2024-09-13  33496.000000  33680.000000  33446.000000  33568.000000  488164200
 ...                  ...           ...           ...           ...        ...
 2025-09-02  42451.000000  42501.000000  41706.000000  41728.000000  406293600
 2025-09-03  41979.000000  42040.000000  41691.000000  41785.000000  347036200
 2025-09-04  41843.000000  42089.000000  41716.000000  41990.000000  471872200
 2025-09-05  42157.000000  42203.000000  41468.000000  41608.000000  354227700
 2025-09-08  41815.179688  41879.140625  41628.320312  41668.808594          0

 [252 rows x 5 columns],
 'CEM.MI': Price            open       high        low      close  volume
 Date
 2024-09-09   9.334115   9.343919   9.255676   9.294895   17962
 2024-09-10   9.334114   9.334114   9.167434   9.206653   36165
 2024-09-11   9.285091   9.324310   9.030168   9.069386   38461
 2024-09-12   9.118410   9.226262   9.069386   9.147824   32898
 2024-09-13   9.226262   9.226262   9.118410   9.128215   23302
 ...               ...        ...        ...        ...     ...
 2025-09-02  14.080000  14.120000  13.540000  13.540000   54554
 2025-09-03  13.500000  13.960000  13.500000  13.720000   73405
 2025-09-04  13.600000  14.220000  13.600000  14.100000   66795
 2025-09-05  14.140000  14.140000  13.940000  14.020000   40872
 2025-09-08  13.900000  14.260000  13.900000  14.060000   13150

 [252 rows x 5 columns],
 'BZU.MI': Price            open       high        low      close  volume
 Date
 2024-09-09  34.057677  34.589825  34.037967  34.313896  250216
 2024-09-10  34.175931  34.530699  33.643779  34.018257  205277
 2024-09-11  34.018257  34.353315  33.052502  33.052502  279810
 2024-09-12  33.170754  33.840870  33.170754  33.663486  204642
 2024-09-13  33.624067  34.333603  33.624067  34.156219  167427
 ...               ...        ...        ...        ...     ...
 2025-09-02  44.700001  45.259998  43.980000  44.119999  716498
 2025-09-03  44.400002  45.099998  43.380001  43.680000  433536
 2025-09-04  43.480000  44.660000  43.180000  44.560001  399567
 2025-09-05  44.720001  44.919998  44.119999  44.240002  253959
 2025-09-08  44.419998  45.259998  44.400002  45.139999  135140

 [252 rows x 5 columns]}

In [50]:
# Initialize with custom chunk size
handler = YFinanceDataHandler(cache_dir="./cache", chunk_size=3)

# Downloads 100 symbols in 4 chunks of 25 each
symbols = ['BRE.MI', 'CPR.MI', 'IG.MI', 'IP.MI', 'AMP.MI', 'MONC.MI'] 
handler.download_data(symbols, period='1y')

2025-09-10 07:35:08,159 - INFO - Loaded BRE.MI from cache
2025-09-10 07:35:08,172 - INFO - Loaded CPR.MI from cache
2025-09-10 07:35:08,172 - INFO - Loaded IG.MI from cache
2025-09-10 07:35:08,188 - INFO - Loaded IP.MI from cache
2025-09-10 07:35:08,192 - INFO - Loaded AMP.MI from cache
2025-09-10 07:35:08,196 - INFO - Loaded MONC.MI from cache
2025-09-10 07:35:08,196 - INFO - Cache hits: 6, Downloads needed: 0

{'BRE.MI': Price           open      high       low     close  volume
 Date
 2024-09-09  9.698471  9.908805  9.628039  9.719698  420000
 2024-09-10  9.717767  9.874070  9.513223  9.673386  569894
 2024-09-11  9.740923  9.800742  9.630933  9.686893  177010
 2024-09-12  9.850914  9.891437  9.708120  9.737064  152450
 2024-09-13  9.802672  9.914593  9.767938  9.835477  211388
 ...              ...       ...       ...       ...     ...
 2025-09-02  9.395000  9.425000  9.085000  9.120000  380568
 2025-09-03  9.240000  9.265000  9.090000  9.145000  223112
 2025-09-04  9.110000  9.250000  9.110000  9.155000  195616
 2025-09-05  9.250000  9.315000  9.175000  9.200000  196214
 2025-09-08  9.200000  9.260000  9.195000  9.215000   60909

 [252 rows x 5 columns],
 'CPR.MI': Price           open      high       low     close    volume
 Date
 2024-09-09  7.865992  8.124963  7.846223  8.124963   2899712
 2024-09-10  8.206015  8.298928  7.923321  7.952974   4352930
 2024-09-11  7.952974  8.087402  7.927275  8.043910   2365067
 2024-09-12  8.158569  8.219853  8.079494  8.172407   3210988
 2024-09-13  8.192177  8.245552  7.585275  7.711796  10222501
 ...              ...       ...       ...       ...       ...
 2025-09-02  6.326000  6.398000  6.222000  6.222000   4198248
 2025-09-03  6.230000  6.254000  6.162000  6.190000   3474856
 2025-09-04  6.180000  6.230000  6.104000  6.114000   3116979
 2025-09-05  6.114000  6.190000  6.100000  6.120000   2845612
 2025-09-08  6.140000  6.146000  6.016000  6.022000   2663241

 [252 rows x 5 columns],
 'IG.MI': Price           open      high       low     close   volume
 Date
 2024-09-09  4.788233  4.826160  4.769270  4.816678  3182656
 2024-09-10  4.830900  4.873568  4.816678  4.873568  3767451
 2024-09-11  4.887790  4.982607  4.859345  4.944680  7560858
 2024-09-12  4.944680  4.954162  4.892531  4.935198  6104238
 2024-09-13  4.949421  4.982607  4.930458  4.982607  2234740
 ...              ...       ...       ...       ...      ...
 2025-09-02  7.620000  7.635000  7.480000  7.555000  2456351
 2025-09-03  7.565000  7.575000  7.460000  7.540000  2440362
 2025-09-04  7.540000  7.665000  7.535000  7.635000  1930074
 2025-09-05  7.635000  7.655000  7.590000  7.625000  1713494
 2025-09-08  7.610000  7.625000  7.570000  7.585000   562918

 [252 rows x 5 columns],
 'IP.MI': Price            open       high        low      close  volume
 Date
 2024-09-09  37.107007  37.800411  37.107007  37.800411   90131
 2024-09-10  37.701355  37.899467  37.265499  37.602295  117855
 2024-09-11  37.780600  38.176833  37.146632  37.324936  151183
 2024-09-12  37.899465  38.236261  37.602293  37.820221   99514
 2024-09-13  37.919279  38.335323  37.879659  38.335323   78237
 ...               ...        ...        ...        ...     ...
 2025-09-02  40.619999  40.759998  39.160000  39.180000  293651
 2025-09-03  39.639999  40.099998  39.439999  39.700001  170434
 2025-09-04  39.700001  40.040001  39.680000  39.680000  116100
 2025-09-05  39.959999  40.840000  39.939999  40.680000  224260
 2025-09-08  40.639999  41.320000  40.639999  41.259998   90887

 [252 rows x 5 columns],
 'AMP.MI': Price            open       high        low      close   volume
 Date
 2024-09-09  27.725334  28.089883  27.636661  27.922388   594775
 2024-09-10  27.006092  27.390345  25.922301  27.390345  2784079
 2024-09-11  27.410050  27.410050  26.809038  26.966682   848497
 2024-09-12  27.252409  27.252409  26.671103  26.828745   633508
 2024-09-13  26.838598  27.360789  26.828745  27.252409   605103
 ...               ...        ...        ...        ...      ...
 2025-09-02  15.475000  15.530000  15.045000  15.155000  1592289
 2025-09-03  15.245000  15.340000  15.075000  15.085000   753872
 2025-09-04  15.100000  15.365000  15.025000  15.095000  1085947
 2025-09-05  15.160000  15.400000  15.120000  15.280000  1014212
 2025-09-08  15.395000  15.550000  15.140000  15.500000   807779

 [252 rows x 5 columns],
 'MONC.MI': Price            open       high        low      close   volume
 Date
 2024-09-09  49.421100  49.792684  48.453015  48.805046   948168
 2024-09-10  49.753570  49.753570  48.355228  48.873493   668659
 2024-09-11  48.893052  49.753571  48.707260  48.990837   615473
 2024-09-12  49.557997  50.496743  49.557997  49.988255   911222
 2024-09-13  50.066487  50.359845  49.870914  49.870914   483002
 ...               ...        ...        ...        ...      ...
 2025-09-02  49.450001  50.500000  48.900002  48.900002   825641
 2025-09-03  49.369999  50.139999  49.150002  49.290001   768037
 2025-09-04  49.400002  49.560001  48.200001  48.200001   755928
 2025-09-05  48.189999  48.189999  46.459999  47.049999  1797877
 2025-09-08  47.200001  47.200001  46.630001  46.669998   290456

 [252 rows x 5 columns]}

In [51]:
symbols = ['BRE.MI', 'CPR.MI', 'IG.MI']
row_data = handler.get_combined_data(symbols)
row_data

Price       Date  symbol      open      high       low     close   volume
0     2024-09-09  BRE.MI  9.698471  9.908805  9.628039  9.719698   420000
1     2024-09-09  CPR.MI  7.865992  8.124963  7.846223  8.124963  2899712
2     2024-09-09   IG.MI  4.788233  4.826160  4.769270  4.816678  3182656
3     2024-09-10  BRE.MI  9.717767  9.874070  9.513223  9.673386   569894
4     2024-09-10  CPR.MI  8.206015  8.298928  7.923321  7.952974  4352930
..           ...     ...       ...       ...       ...       ...      ...
751   2025-09-05  CPR.MI  6.114000  6.190000  6.100000  6.120000  2845612
752   2025-09-05   IG.MI  7.635000  7.655000  7.590000  7.625000  1713494
753   2025-09-08  BRE.MI  9.200000  9.260000  9.195000  9.215000    60909
754   2025-09-08  CPR.MI  6.140000  6.146000  6.016000  6.022000  2663241
755   2025-09-08   IG.MI  7.610000  7.625000  7.570000  7.585000   562918

[756 rows x 7 columns]

In [52]:
# Smart caching - only newly downloaded data is cached
handler = YFinanceDataHandler(cache_dir="./data")

# First run: Downloads AAPL, caches it
handler.download_data(['OVS.MI', 'A2A.MI'], use_cache=True, cache_only_new=True)

2025-09-10 07:35:08,263 - INFO - Loaded OVS.MI from cache
2025-09-10 07:35:08,269 - INFO - Loaded A2A.MI from cache
2025-09-10 07:35:08,269 - INFO - Cache hits: 2, Downloads needed: 0

{'OVS.MI':                                open      high       low     close  volume  \
 Date
 2024-09-09 00:00:00+02:00  2.597191  2.624326  2.571994  2.577809  486527
 2024-09-10 00:00:00+02:00  2.562303  2.622388  2.562303  2.589438  372978
 2024-09-11 00:00:00+02:00  2.585562  2.620449  2.564242  2.597191  444961
 2024-09-12 00:00:00+02:00  2.612697  2.641770  2.575871  2.585562  445558
 2024-09-13 00:00:00+02:00  2.585562  2.668905  2.585562  2.657275  511649
 ...                             ...       ...       ...       ...     ...
 2025-09-02 00:00:00+02:00  4.126000  4.144000  4.036000  4.066000  379567
 2025-09-03 00:00:00+02:00  4.080000  4.116000  3.980000  4.032000  330377
 2025-09-04 00:00:00+02:00  4.024000  4.076000  4.000000  4.072000  364167
 2025-09-05 00:00:00+02:00  4.062000  4.134000  4.006000  4.062000  341655
 2025-09-08 00:00:00+02:00  4.062000  4.082000  4.002000  4.066000  154337

                            dividends  stock splits
 Date
 2024-09-09 00:00:00+02:00        0.0           0.0
 2024-09-10 00:00:00+02:00        0.0           0.0
 2024-09-11 00:00:00+02:00        0.0           0.0
 2024-09-12 00:00:00+02:00        0.0           0.0
 2024-09-13 00:00:00+02:00        0.0           0.0
 ...                              ...           ...
 2025-09-02 00:00:00+02:00        0.0           0.0
 2025-09-03 00:00:00+02:00        0.0           0.0
 2025-09-04 00:00:00+02:00        0.0           0.0
 2025-09-05 00:00:00+02:00        0.0           0.0
 2025-09-08 00:00:00+02:00        0.0           0.0

 [252 rows x 7 columns],
 'A2A.MI': Price           open      high       low     close   volume
 Date
 2024-09-09  2.000206  2.008815  1.982987  2.002119  7151824
 2024-09-10  1.998292  2.015511  1.996379  2.001162  6839924
 2024-09-11  2.008815  2.013598  1.978204  2.007858  7776934
 2024-09-12  2.021250  2.024120  1.990640  1.991596  6414518
 2024-09-13  1.997336  2.004032  1.978204  1.981074  5649398
 ...              ...       ...       ...       ...      ...
 2025-09-02  2.130000  2.132000  2.098000  2.104000  7871579
 2025-09-03  2.109000  2.113000  2.071000  2.100000  9392203
 2025-09-04  2.098000  2.130000  2.096000  2.116000  6425903
 2025-09-05  2.118000  2.134000  2.109000  2.127000  5181825
 2025-09-08  2.128000  2.131000  2.106000  2.107000  2161200

 [252 rows x 5 columns]}

In [53]:
stock_data = handler.calculate_relative_prices(symbol='A2A.MI', benchmark_symbol='FTSEMIB.MI')
stock_data

2025-09-10 07:35:08,291 - INFO - Downloading benchmark data for FTSEMIB.MI
2025-09-10 07:35:08,293 - INFO - Loaded FTSEMIB.MI from cache
2025-09-10 07:35:08,298 - INFO - Cache hits: 1, Downloads needed: 0

Price,date,open,high,low,close,ropen,rhigh,rlow,rclose
0,2024-09-09,2.000206,2.008815,1.982987,2.002119,2.0002,2.0088,1.9830,2.0021
1,2024-09-10,1.998292,2.015511,1.996379,2.001162,2.0210,2.0384,2.0190,2.0239
2,2024-09-11,2.008815,2.013598,1.978204,2.007858,2.0340,2.0388,2.0030,2.0330
3,2024-09-12,2.021250,2.024120,1.990640,1.991596,2.0295,2.0323,1.9987,1.9997
4,2024-09-13,1.997336,2.004032,1.978204,1.981074,1.9986,2.0053,1.9795,1.9824
...,...,...,...,...,...,...,...,...,...
247,2025-09-02,2.130000,2.132000,2.098000,2.104000,1.7146,1.7162,1.6888,1.6937
248,2025-09-03,2.109000,2.113000,2.071000,2.100000,1.6954,1.6986,1.6648,1.6881
249,2025-09-04,2.098000,2.130000,2.096000,2.116000,1.6783,1.7039,1.6767,1.6927
250,2025-09-05,2.118000,2.134000,2.109000,2.127000,1.7099,1.7228,1.7026,1.7171
251,2025-09-08,2.128000,2.131000,2.106000,2.107000,1.7154,1.7178,1.6977,1.6985

In [54]:
from algoshort.regime_bo import RegimeBO

# Initialize Regime class
regime = RegimeBO(ohlc_stock=stock_data)
regime.compute_regime(regime_type='breakout', window=150, relative=True, inplace=True)

Price,date,open,high,low,close,ropen,rhigh,rlow,rclose,rhi_150,rlo_150,rbo_150
0,2024-09-09,2.000206,2.008815,1.982987,2.002119,2.0002,2.0088,1.9830,2.0021,NaN,NaN,NaN
1,2024-09-10,1.998292,2.015511,1.996379,2.001162,2.0210,2.0384,2.0190,2.0239,NaN,NaN,NaN
2,2024-09-11,2.008815,2.013598,1.978204,2.007858,2.0340,2.0388,2.0030,2.0330,NaN,NaN,NaN
3,2024-09-12,2.021250,2.024120,1.990640,1.991596,2.0295,2.0323,1.9987,1.9997,NaN,NaN,NaN
4,2024-09-13,1.997336,2.004032,1.978204,1.981074,1.9986,2.0053,1.9795,1.9824,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
247,2025-09-02,2.130000,2.132000,2.098000,2.104000,1.7146,1.7162,1.6888,1.6937,2.1691,1.6860,-1.0
248,2025-09-03,2.109000,2.113000,2.071000,2.100000,1.6954,1.6986,1.6648,1.6881,2.1691,1.6648,-1.0
249,2025-09-04,2.098000,2.130000,2.096000,2.116000,1.6783,1.7039,1.6767,1.6927,2.1691,1.6648,-1.0
250,2025-09-05,2.118000,2.134000,2.109000,2.127000,1.7099,1.7228,1.7026,1.7171,2.1691,1.6648,-1.0
251,2025-09-08,2.128000,2.131000,2.106000,2.107000,1.7154,1.7178,1.6977,1.6985,2.1691,1.6648,-1.0

In [55]:
regime.compute_regime(regime_type='turtle', fast_window=20, window=50, relative=True, inplace=True)
stock_data

Price,date,open,high,low,close,ropen,rhigh,rlow,rclose,rhi_150,rlo_150,rbo_150,rhi_50,rlo_50,rhi_20,rlo_20,rbo_50,rbo_20,rtt_5020
0,2024-09-09,2.000206,2.008815,1.982987,2.002119,2.0002,2.0088,1.9830,2.0021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,2024-09-10,1.998292,2.015511,1.996379,2.001162,2.0210,2.0384,2.0190,2.0239,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,2024-09-11,2.008815,2.013598,1.978204,2.007858,2.0340,2.0388,2.0030,2.0330,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,2024-09-12,2.021250,2.024120,1.990640,1.991596,2.0295,2.0323,1.9987,1.9997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,2024-09-13,1.997336,2.004032,1.978204,1.981074,1.9986,2.0053,1.9795,1.9824,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,2025-09-02,2.130000,2.132000,2.098000,2.104000,1.7146,1.7162,1.6888,1.6937,2.1691,1.6860,-1.0,1.9851,1.6860,1.7898,1.6860,-1.0,-1.0,-1
248,2025-09-03,2.109000,2.113000,2.071000,2.100000,1.6954,1.6986,1.6648,1.6881,2.1691,1.6648,-1.0,1.9851,1.6648,1.7831,1.6648,-1.0,-1.0,-1
249,2025-09-04,2.098000,2.130000,2.096000,2.116000,1.6783,1.7039,1.6767,1.6927,2.1691,1.6648,-1.0,1.9851,1.6648,1.7528,1.6648,-1.0,-1.0,-1
250,2025-09-05,2.118000,2.134000,2.109000,2.127000,1.7099,1.7228,1.7026,1.7171,2.1691,1.6648,-1.0,1.9851,1.6648,1.7487,1.6648,-1.0,-1.0,-1
251,2025-09-08,2.128000,2.131000,2.106000,2.107000,1.7154,1.7178,1.6977,1.6985,2.1691,1.6648,-1.0,1.9851,1.6648,1.7465,1.6648,-1.0,-1.0,-1

In [56]:
# from algoshort.regime_bo import RegimeBO

# # Initialize Regime class
# regime = RegimeBO(ohlc_stock=stock_data)

# # Absolute breakout regime (window=5)
# abs_breakout = regime.signal_bo(20)
# abs_breakout

In [57]:
# Relative breakout regime (window=5)
# rel_breakout = regime.signal_bo(window=5, relative=True)
# rel_breakout

In [58]:
# Absolute turtle trader regime
# abs_tt = regime.signal_tt(slow_window=50, fast_window=20)
# abs_tt

In [59]:
# Relative turtle trader regime
# rel_tt = regime.signal_tt(slow_window=50, fast_window=20, relative=True)
# rel_tt

In [60]:
from algoshort.regime_ma import TripleMACrossoverRegime

regime = TripleMACrossoverRegime(ohlc_stock=stock_data)

In [61]:
regime.compute_ma_regime(ma_type='sma', short_window=50, medium_window=100, long_window=150, inplace=True, relative=True)
regime.compute_ma_regime(ma_type='ema', short_window=50, medium_window=100, long_window=150, inplace=True, relative=True)
stock_data

Price,date,open,high,low,close,ropen,rhigh,rlow,rclose,rhi_150,...,rsma_50100,rsma_long_150,rsma_100150,rsma_50100150,rema_short_50,rema_medium_100,rema_50100,rema_long_150,rema_100150,rema_50100150
0,2024-09-09,2.000206,2.008815,1.982987,2.002119,2.0002,2.0088,1.9830,2.0021,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-09-10,1.998292,2.015511,1.996379,2.001162,2.0210,2.0384,2.0190,2.0239,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2024-09-11,2.008815,2.013598,1.978204,2.007858,2.0340,2.0388,2.0030,2.0330,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2024-09-12,2.021250,2.024120,1.990640,1.991596,2.0295,2.0323,1.9987,1.9997,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2024-09-13,1.997336,2.004032,1.978204,1.981074,1.9986,2.0053,1.9795,1.9824,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,2025-09-02,2.130000,2.132000,2.098000,2.104000,1.7146,1.7162,1.6888,1.6937,2.1691,...,-1.0,1.853201,-1.0,1.0,1.776955,1.823331,-1.0,1.851363,-1.0,1.0
248,2025-09-03,2.109000,2.113000,2.071000,2.100000,1.6954,1.6986,1.6648,1.6881,2.1691,...,-1.0,1.851066,-1.0,1.0,1.773470,1.820653,-1.0,1.849201,-1.0,1.0
249,2025-09-04,2.098000,2.130000,2.096000,2.116000,1.6783,1.7039,1.6767,1.6927,2.1691,...,-1.0,1.848930,-1.0,1.0,1.770303,1.818119,-1.0,1.847128,-1.0,1.0
250,2025-09-05,2.118000,2.134000,2.109000,2.127000,1.7099,1.7228,1.7026,1.7171,2.1691,...,-1.0,1.846887,-1.0,1.0,1.768216,1.816119,-1.0,1.845406,-1.0,1.0
251,2025-09-08,2.128000,2.131000,2.106000,2.107000,1.7154,1.7178,1.6977,1.6985,2.1691,...,-1.0,1.844903,-1.0,1.0,1.765482,1.813790,-1.0,1.843460,-1.0,1.0

In [62]:
# Absolute SMA Crossover
# df_sma = regime.signal_ma(ma_type='sma', short_window=5, medium_window=10, long_window=20)
# df_sma

In [63]:
# Relative SMA Crossover
# df_sma = regime.signal_ma(ma_type='sma', short_window=5, medium_window=10, long_window=20, relative=True)
# df_sma

In [64]:
# Absolute EMA Crossover
# df_ema = regime.signal_ma(ma_type='ema', short_window=5, medium_window=10, long_window=20)
# df_ema

In [65]:
# Relative EMA Crossover
# df_ema = regime.signal_ma(ma_type='ema', short_window=5, medium_window=10, long_window=20, relative=True)
# df_ema

In [66]:
# df = stock_data.copy()
# regime.compute_ma_regime(ma_type='sma', short_window=5, medium_window=10, long_window=20, 
#                         relative=False, inplace=True)

In [67]:
# data = regime.compute_ma_regime(ma_type='ema', short_window=5, medium_window=10, long_window=20, 
#                         relative=False, inplace=True)
# data

In [68]:
from algoshort.returns import ReturnsCalculator
returns_calc = ReturnsCalculator(ohlc_stock=stock_data)
stock_data = returns_calc.get_returns(df=stock_data, signal='rsma_50100150')
stock_data = returns_calc.get_returns(df=stock_data, signal='rema_50100150')
stock_data = returns_calc.get_returns(df=stock_data, signal='rtt_5020')
stock_data = returns_calc.get_returns(df=stock_data, signal='rbo_150')
stock_data

Price,date,open,high,low,close,ropen,rhigh,rlow,rclose,rhi_150,...,rtt_5020_returns,rtt_5020_log_returns,rtt_5020_cumul,rbo_150_chg1D,rbo_150_chg1D_fx,rbo_150_PL_cum,rbo_150_PL_cum_fx,rbo_150_returns,rbo_150_log_returns,rbo_150_cumul
0,2024-09-09,2.000206,2.008815,1.982987,2.002119,2.0002,2.0088,1.9830,2.0021,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-09-10,1.998292,2.015511,1.996379,2.001162,2.0210,2.0384,2.0190,2.0239,NaN,...,-0.000000,-0.000000,0.000000,-0.000,-0.000,0.000000,0.000000,-0.000000,-0.000000,0.000000
2,2024-09-11,2.008815,2.013598,1.978204,2.007858,2.0340,2.0388,2.0030,2.0330,NaN,...,0.000000,0.000000,0.000000,0.000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000
3,2024-09-12,2.021250,2.024120,1.990640,1.991596,2.0295,2.0323,1.9987,1.9997,NaN,...,-0.000000,-0.000000,0.000000,-0.000,-0.000,0.000000,0.000000,-0.000000,-0.000000,0.000000
4,2024-09-13,1.997336,2.004032,1.978204,1.981074,1.9986,2.0053,1.9795,1.9824,NaN,...,-0.000000,-0.000000,0.000000,-0.000,-0.000,0.000000,0.000000,-0.000000,-0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,2025-09-02,2.130000,2.132000,2.098000,2.104000,1.7146,1.7162,1.6888,1.6937,2.1691,...,0.015903,0.016030,0.050408,0.034,0.034,-0.026312,-0.026312,0.015903,0.016030,-0.012506
248,2025-09-03,2.109000,2.113000,2.071000,2.100000,1.6954,1.6986,1.6648,1.6881,2.1691,...,0.001901,0.001903,0.052409,0.004,0.004,-0.022312,-0.022312,0.001901,0.001903,-0.010625
249,2025-09-04,2.098000,2.130000,2.096000,2.116000,1.6783,1.7039,1.6767,1.6927,2.1691,...,-0.007619,-0.007590,0.044451,-0.016,-0.016,-0.038312,-0.038312,-0.007619,-0.007590,-0.018106
250,2025-09-05,2.118000,2.134000,2.109000,2.127000,1.7099,1.7228,1.7026,1.7171,2.1691,...,-0.005199,-0.005185,0.039049,-0.011,-0.011,-0.049312,-0.049312,-0.005199,-0.005185,-0.023184
251,2025-09-08,2.128000,2.131000,2.106000,2.107000,1.7154,1.7178,1.6977,1.6985,2.1691,...,0.009403,0.009447,0.048912,0.020,0.020,-0.029312,-0.029312,0.009403,0.009447,-0.013912

In [71]:
from algoshort.strategy_metrics import StrategyMetrics
strategy_metrics = StrategyMetrics(stock_data)

In [74]:
stock_data.columns

Index(['date', 'open', 'high', 'low', 'close', 'ropen', 'rhigh', 'rlow',
       'rclose', 'rhi_150', 'rlo_150', 'rbo_150', 'rhi_50', 'rlo_50', 'rhi_20',
       'rlo_20', 'rbo_50', 'rbo_20', 'rtt_5020', 'rsma_short_50',
       'rsma_medium_100', 'rsma_50100', 'rsma_long_150', 'rsma_100150',
       'rsma_50100150', 'rema_short_50', 'rema_medium_100', 'rema_50100',
       'rema_long_150', 'rema_100150', 'rema_50100150', 'rsma_50100150_chg1D',
       'rsma_50100150_chg1D_fx', 'rsma_50100150_PL_cum',
       'rsma_50100150_PL_cum_fx', 'rsma_50100150_returns',
       'rsma_50100150_log_returns', 'rsma_50100150_cumul',
       'rema_50100150_chg1D', 'rema_50100150_chg1D_fx', 'rema_50100150_PL_cum',
       'rema_50100150_PL_cum_fx', 'rema_50100150_returns',
       'rema_50100150_log_returns', 'rema_50100150_cumul', 'rtt_5020_chg1D',
       'rtt_5020_chg1D_fx', 'rtt_5020_PL_cum', 'rtt_5020_PL_cum_fx',
       'rtt_5020_returns', 'rtt_5020_log_returns', 'rtt_5020_cumul',
       'rbo_150_chg1D', 'rbo_150_chg1D_fx', 'rbo_150_PL_cum',
       'rbo_150_PL_cum_fx', 'rbo_150_returns', 'rbo_150_log_returns',
       'rbo_150_cumul'],
      dtype='object', name='Price')

In [78]:
# Compute risk metrics
stock_data = strategy_metrics.get_risk_metrics(
    df=stock_data,
    signal='rsma_50100150',
    window=252,
    percentile=0.05,
    limit=5
)

# Compute risk metrics
stock_data = strategy_metrics.get_risk_metrics(
    df=stock_data,
    signal='rema_50100150',
    window=252,
    percentile=0.05,
    limit=5
)

# Compute risk metrics
stock_data = strategy_metrics.get_risk_metrics(
    df=stock_data,
    signal='rtt_5020',
    window=252,
    percentile=0.05,
    limit=5
)

# Compute risk metrics
stock_data = strategy_metrics.get_risk_metrics(
    df=stock_data,
    signal='rbo_150',
    window=252,
    percentile=0.05,
    limit=5
)

In [79]:
from algoshort.position_sizing import PositionSizing
position_sizing = PositionSizing(stock_data)

In [82]:
position_sizing.get_risk_appetite(stock_data, price_col='close', inplace=True)

Price,date,open,high,low,close,ropen,rhigh,rlow,rclose,rhi_150,...,rbo_150_pr,rbo_150_tr_roll,rbo_150_tr,peak_eqty,constant_risk,convex_risk,concave_risk,tolerance,drawdown,close_risk_appetite
0,2024-09-09,2.000206,2.008815,1.982987,2.002119,2.0002,2.0088,1.9830,2.0021,NaN,...,NaN,NaN,NaN,2.002119,0.010011,0.015016,0.015016,1.801907,0.000000,-0.007500
1,2024-09-10,1.998292,2.015511,1.996379,2.001162,2.0210,2.0384,2.0190,2.0239,NaN,...,NaN,NaN,NaN,2.002119,0.010006,0.014930,0.015006,1.801907,-0.000478,-0.007486
2,2024-09-11,2.008815,2.013598,1.978204,2.007858,2.0340,2.0388,2.0030,2.0330,NaN,...,NaN,NaN,NaN,2.007858,0.010039,0.015014,0.015054,1.807072,0.000000,-0.007492
3,2024-09-12,2.021250,2.024120,1.990640,1.991596,2.0295,2.0323,1.9987,1.9997,NaN,...,NaN,NaN,NaN,2.007858,0.009958,0.014055,0.014942,1.807072,-0.008099,-0.007327
4,2024-09-13,1.997336,2.004032,1.978204,1.981074,1.9986,2.0053,1.9795,1.9824,NaN,...,NaN,NaN,NaN,2.007858,0.009905,0.013030,0.014810,1.807072,-0.013340,-0.007138
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,2025-09-02,2.130000,2.132000,2.098000,2.104000,1.7146,1.7162,1.6888,1.6937,2.1691,...,0.960768,NaN,0.0,2.361000,0.010520,0.005914,0.011377,2.124900,-0.108852,-0.002999
248,2025-09-03,2.109000,2.113000,2.071000,2.100000,1.6954,1.6986,1.6648,1.6881,2.1691,...,0.966701,NaN,0.0,2.361000,0.010500,0.005906,0.010685,2.124900,-0.110546,-0.002833
249,2025-09-04,2.098000,2.130000,2.096000,2.116000,1.6783,1.7039,1.6767,1.6927,2.1691,...,0.944355,NaN,0.0,2.361000,0.010580,0.005904,0.010081,2.124900,-0.103770,-0.002722
250,2025-09-05,2.118000,2.134000,2.109000,2.127000,1.7099,1.7228,1.7026,1.7171,2.1691,...,0.929675,NaN,0.0,2.361000,0.010635,0.005903,0.009671,2.124900,-0.099111,-0.002663
251,2025-09-08,2.128000,2.131000,2.106000,2.107000,1.7154,1.7178,1.6977,1.6985,2.1691,...,0.957999,NaN,0.0,2.361000,0.010535,0.005903,0.009194,2.124900,-0.107582,-0.002608

In [83]:
position_sizing.get_equity_risk(stock_data, inplace=True, tolerance=-0.1,
    mn=-0.0025,
    mx=-0.0075,
    span=5)

Price,date,open,high,low,close,ropen,rhigh,rlow,rclose,rhi_150,...,rbo_150_pr,rbo_150_tr_roll,rbo_150_tr,peak_eqty,constant_risk,convex_risk,concave_risk,tolerance,drawdown,close_risk_appetite
0,2024-09-09,2.000206,2.008815,1.982987,2.002119,2.0002,2.0088,1.9830,2.0021,NaN,...,NaN,NaN,NaN,2.002119,0.010011,0.015016,0.015016,1.801907,0.000000,-0.007500
1,2024-09-10,1.998292,2.015511,1.996379,2.001162,2.0210,2.0384,2.0190,2.0239,NaN,...,NaN,NaN,NaN,2.002119,0.010006,0.014930,0.015006,1.801907,-0.000478,-0.007486
2,2024-09-11,2.008815,2.013598,1.978204,2.007858,2.0340,2.0388,2.0030,2.0330,NaN,...,NaN,NaN,NaN,2.007858,0.010039,0.015014,0.015054,1.807072,0.000000,-0.007492
3,2024-09-12,2.021250,2.024120,1.990640,1.991596,2.0295,2.0323,1.9987,1.9997,NaN,...,NaN,NaN,NaN,2.007858,0.009958,0.014055,0.014942,1.807072,-0.008099,-0.007327
4,2024-09-13,1.997336,2.004032,1.978204,1.981074,1.9986,2.0053,1.9795,1.9824,NaN,...,NaN,NaN,NaN,2.007858,0.009905,0.013030,0.014810,1.807072,-0.013340,-0.007138
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,2025-09-02,2.130000,2.132000,2.098000,2.104000,1.7146,1.7162,1.6888,1.6937,2.1691,...,0.960768,NaN,0.0,2.361000,0.010520,0.005914,0.011377,2.124900,-0.108852,-0.002999
248,2025-09-03,2.109000,2.113000,2.071000,2.100000,1.6954,1.6986,1.6648,1.6881,2.1691,...,0.966701,NaN,0.0,2.361000,0.010500,0.005906,0.010685,2.124900,-0.110546,-0.002833
249,2025-09-04,2.098000,2.130000,2.096000,2.116000,1.6783,1.7039,1.6767,1.6927,2.1691,...,0.944355,NaN,0.0,2.361000,0.010580,0.005904,0.010081,2.124900,-0.103770,-0.002722
250,2025-09-05,2.118000,2.134000,2.109000,2.127000,1.7099,1.7228,1.7026,1.7171,2.1691,...,0.929675,NaN,0.0,2.361000,0.010635,0.005903,0.009671,2.124900,-0.099111,-0.002663
251,2025-09-08,2.128000,2.131000,2.106000,2.107000,1.7154,1.7178,1.6977,1.6985,2.1691,...,0.957999,NaN,0.0,2.361000,0.010535,0.005903,0.009194,2.124900,-0.107582,-0.002608

In [89]:
position_sizing.calculate_position_size(
    df=stock_data,
    signal='rtt_5020',
    price_col='close',
    equity_col = 'close',
    stop_loss_col='low',
    inplace=True
)

Price,date,open,high,low,close,ropen,rhigh,rlow,rclose,rhi_150,...,drawdown,close_risk_appetite,rtt_5020_peak_equity,rtt_5020_risk_appetite,rtt_5020_risk_budget,rtt_5020_risk_unit,rtt_5020_shares,rtt_5020_equity_risk_shares,rtt_5020_target_price,rtt_5020_partial_exit
0,2024-09-09,2.000206,2.008815,1.982987,2.002119,2.0002,2.0088,1.9830,2.0021,NaN,...,0.000000,-0.007500,2.002119,-0.007500,-0.015016,0.019132,-100.0,NaN,2.040382,-50.0
1,2024-09-10,1.998292,2.015511,1.996379,2.001162,2.0210,2.0384,2.0190,2.0239,NaN,...,-0.000478,-0.007486,2.002119,-0.007486,-0.014987,0.004783,-100.0,NaN,2.010728,-50.0
2,2024-09-11,2.008815,2.013598,1.978204,2.007858,2.0340,2.0388,2.0030,2.0330,NaN,...,0.000000,-0.007492,2.007858,-0.007492,-0.015044,0.029654,-100.0,NaN,2.067166,-50.0
3,2024-09-12,2.021250,2.024120,1.990640,1.991596,2.0295,2.0323,1.9987,1.9997,NaN,...,-0.008099,-0.007327,2.007858,-0.007327,-0.014712,0.000957,-100.0,NaN,1.993509,-50.0
4,2024-09-13,1.997336,2.004032,1.978204,1.981074,1.9986,2.0053,1.9795,1.9824,NaN,...,-0.013340,-0.007138,2.007858,-0.007138,-0.014331,0.002870,-100.0,NaN,1.986813,-50.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,2025-09-02,2.130000,2.132000,2.098000,2.104000,1.7146,1.7162,1.6888,1.6937,2.1691,...,-0.108852,-0.002999,2.361000,-0.002999,-0.007080,0.006000,-100.0,NaN,2.116000,-50.0
248,2025-09-03,2.109000,2.113000,2.071000,2.100000,1.6954,1.6986,1.6648,1.6881,2.1691,...,-0.110546,-0.002833,2.361000,-0.002833,-0.006688,0.029000,-100.0,NaN,2.158000,-50.0
249,2025-09-04,2.098000,2.130000,2.096000,2.116000,1.6783,1.7039,1.6767,1.6927,2.1691,...,-0.103770,-0.002722,2.361000,-0.002722,-0.006426,0.020000,-100.0,NaN,2.156000,-50.0
250,2025-09-05,2.118000,2.134000,2.109000,2.127000,1.7099,1.7228,1.7026,1.7171,2.1691,...,-0.099111,-0.002663,2.361000,-0.002663,-0.006286,0.018000,-100.0,NaN,2.163000,-50.0
251,2025-09-08,2.128000,2.131000,2.106000,2.107000,1.7154,1.7178,1.6977,1.6985,2.1691,...,-0.107582,-0.002608,2.361000,-0.002608,-0.006158,0.001000,-100.0,NaN,2.109000,-50.0

In [90]:
position_sizing.calculate_position_size(
    df=stock_data,
    signal='rbo_150',
    price_col='close',
    equity_col = 'close',
    stop_loss_col='low',
    inplace=True
)

Price,date,open,high,low,close,ropen,rhigh,rlow,rclose,rhi_150,...,rtt_5020_target_price,rtt_5020_partial_exit,rbo_150_peak_equity,rbo_150_risk_appetite,rbo_150_risk_budget,rbo_150_risk_unit,rbo_150_shares,rbo_150_equity_risk_shares,rbo_150_target_price,rbo_150_partial_exit
0,2024-09-09,2.000206,2.008815,1.982987,2.002119,2.0002,2.0088,1.9830,2.0021,NaN,...,2.040382,-50.0,2.002119,-0.007500,-0.015016,0.019132,-100.0,NaN,2.040382,-50.0
1,2024-09-10,1.998292,2.015511,1.996379,2.001162,2.0210,2.0384,2.0190,2.0239,NaN,...,2.010728,-50.0,2.002119,-0.007486,-0.014987,0.004783,-100.0,NaN,2.010728,-50.0
2,2024-09-11,2.008815,2.013598,1.978204,2.007858,2.0340,2.0388,2.0030,2.0330,NaN,...,2.067166,-50.0,2.007858,-0.007492,-0.015044,0.029654,-100.0,NaN,2.067166,-50.0
3,2024-09-12,2.021250,2.024120,1.990640,1.991596,2.0295,2.0323,1.9987,1.9997,NaN,...,1.993509,-50.0,2.007858,-0.007327,-0.014712,0.000957,-100.0,NaN,1.993509,-50.0
4,2024-09-13,1.997336,2.004032,1.978204,1.981074,1.9986,2.0053,1.9795,1.9824,NaN,...,1.986813,-50.0,2.007858,-0.007138,-0.014331,0.002870,-100.0,NaN,1.986813,-50.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,2025-09-02,2.130000,2.132000,2.098000,2.104000,1.7146,1.7162,1.6888,1.6937,2.1691,...,2.116000,-50.0,2.361000,-0.002999,-0.007080,0.006000,-100.0,NaN,2.116000,-50.0
248,2025-09-03,2.109000,2.113000,2.071000,2.100000,1.6954,1.6986,1.6648,1.6881,2.1691,...,2.158000,-50.0,2.361000,-0.002833,-0.006688,0.029000,-100.0,NaN,2.158000,-50.0
249,2025-09-04,2.098000,2.130000,2.096000,2.116000,1.6783,1.7039,1.6767,1.6927,2.1691,...,2.156000,-50.0,2.361000,-0.002722,-0.006426,0.020000,-100.0,NaN,2.156000,-50.0
250,2025-09-05,2.118000,2.134000,2.109000,2.127000,1.7099,1.7228,1.7026,1.7171,2.1691,...,2.163000,-50.0,2.361000,-0.002663,-0.006286,0.018000,-100.0,NaN,2.163000,-50.0
251,2025-09-08,2.128000,2.131000,2.106000,2.107000,1.7154,1.7178,1.6977,1.6985,2.1691,...,2.109000,-50.0,2.361000,-0.002608,-0.006158,0.001000,-100.0,NaN,2.109000,-50.0